<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<div layout:fragment="content">

    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">
            <h2>해외입양인 커뮤니티</h2>
            <ul>
                <li style="list-style-type: none;">Korea</li>
                <li style="list-style-type: none;">
                    <ul>
                        <li style="list-style-type: none;">
                            G.O.A.'L Global Overseas Adoptees' Link (사)해외입양인연대 - <a href="https://goal.or.kr" target="_blank">https://goal.or.kr</a><br/>
                            KARMA Korean Adoptee Researchers' Memory Archive<br/>
                            (해외입양인 연구자 등으로 구성된 입양인 기록 유물 수집을 위한 단체)<br/>
                            325KAMRA 해외입양인 유전자검사 단체(미국) - <a href="https://www.325kamra.org" target="_blank">https://www.325kamra.org</a><br/>
                            KAARN (Korean Adoptee Adoption Research Network) - <a href="https://kaarn.org" target="_blank">https://kaarn.org</a><br/>
                        </li>
                    </ul>
                </li>
                <li style="list-style-type: none;">U.S.A & Canada</li>
                <li style="list-style-type: none;">
                    <ul>
                        <li style="list-style-type: none;">
                            AKASF (Association of Korean Adoptees San Francisco) - San Francisco, US<br/>
                            AdopSource - Minnesota, US<br/>
                            AK Connection (Adopted Korean Connection) - Minnesota, US<br/>
                            AKA SoCal - California, US<br/>
                            Also-Known-As, Inc. - New York, US<br/>
                            Adult Korean Adoptees of Portland - Portland, US<br/>
                            Boston Korean Adoptees,Inc – Massachusetts, US<br/>
                            KATCH – Illinois, US<br/>
                            KAHI – Hawaii, US<br/>
                            Vermont Korean Adoptees – Vermont, US<br/>
                            Nebraska KADs – Nebraska, US<br/>
                            Asian Adult Adoptees of British Columbia - Canada<br/>
                            KAAN (Korean American Adoptee Adoptive Family Network) - US<br/>
                        </li>
                    </ul>
                </li>
                <li style="list-style-type: none;">Europe</li>
                <li style="list-style-type: none;">
                    <ul>
                        <li style="list-style-type: none;">
                            AKF - Sweden<br/>
                            Arierang – The Netherlands<br/>
                            Dongari - Switzerland<br/>
                            Korea Klubben - Denmark<br/>
                            Association Racines Coreennes - France<br/>
                            FKA - Norway<br/>
                            Kimchi - Switzerland<br/>
                            Oceania<br/>
                            Korean Adoptees - Australia<br/>
                        </li>
                    </ul>
                </li>
                <li style="list-style-type: none;">Other</li>
                <li style="list-style-type: none;">
                    <ul>
                        <li style="list-style-type: none;">
                            IKAA (International Korean Adoptee Associations)
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </section>

</div>

</html>