<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/engDefault">

<div layout:fragment="content">

    <section id="faq" class="faq section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>F.A.Q</h2>
                <h3>Frequently Asked <span>Questions</span></h3>
            </div>

            <div class="row justify-content-center">
                <div class="col-xl-10">
                    <ul class="faq-list">

                        <li>
                            <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">
                                My daughter, whom I adopted from Korea, is returning to Korea. I am interested in traveling with my daughter. Can I stay with her at KoRoot too?
                                <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i>
                            </div>
                            <div id="faq1" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    Yes. This is an organization dedicated to overseas Korean adoptees as well as their parents.
                                </p>
                            </div>
                        </li>

                        <li>
                            <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">
                                I am a Korean adoptee living in Denmark and planning to return to Korea to find my biological parents. I have a friend who is interested in Korean culture and has asked me to bring him along for the trip. Can he stay with me at KoRoot?
                                <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i>
                            </div>
                            <div id="faq2" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    Yes. If an adoptee travels with his/her family or friends, it is possible for those accompanying the adoptee to stay at KoRoot even though they are not adoptees.
                                </p>
                            </div>
                        </li>

                        <li>
                            <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">
                                I want to stay at KoRoot, but I want a little bit of privacy on my own during the stay. Can I get a private room if I pay more or by any other means?
                                <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i>
                            </div>
                            <div id="faq3" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    Unfortunately we don’t have a single room. But if a family room or a couples room is available, we can offer you the room at additional cost.
                                </p>
                            </div>
                        </li>

                        <li>
                            <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">
                                Is there any way I can find out my room assignment and who my roommates are?
                                <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i>
                            </div>
                            <div id="faq4" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    Each room is meant to be a single-gender environment and stay that way. However, there is an exception to this single-gender environment policy in special cases (e.g. family, couple, etc.) We can only tell you where they are from if you care to know, but that’s probably as far as we can go; we don’t give out other personal information.
                                </p>
                            </div>
                        </li>

                        <li>
                            <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">
                                Is there anything I should or should not bring during my stay?
                                <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i>
                            </div>
                            <div id="faq5" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    We offer bedding, soap and towels. You can purchase other basic necessities from a convenience store nearby. We strongly recommend that you take personal responsibility for alcohol. A moderate amount of alcoholic beverage is tolerable at the manager’s discretion. Once again, this is a matter of responsibility, and we expect you to live up to it. The management reserves the right to expel anyone who has had an excessive amount of alcohol or brings it on the premises. The use of narcotics and/or other controlled substances without a valid prescription in the KoRoot Guesthouse is strictly prohibited. Visitors are expected to obey local laws regarding the use of controlled substances.
                                </p>
                            </div>
                        </li>

                        <li>
                            <div data-bs-toggle="collapse" href="#faq6" class="collapsed question">
                                I have reserved a room to stay for 30 days and said so in my KoRoot form, but I want to leave early because of personal reasons. Can that be done?
                                <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i>
                            </div>
                            <div id="faq6" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    Yes. If you decide to depart from the KoRoot guesthouse earlier than you were scheduled to leave, we expect you to give us 2 weeks’ notice.
                                </p>
                            </div>
                        </li>

                        <li>
                            <div data-bs-toggle="collapse" href="#faq7" class="collapsed question">
                                Does KoRoot provide phones? What do I do if I need make domestic/international phone calls?
                                <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i>
                            </div>
                            <div id="faq7" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    There is a phone guests can use. After using the phone, you have to put coins into a moneybox according to the time you spent on each call.
                                </p>
                            </div>
                        </li>

                        <li>
                            <div data-bs-toggle="collapse" href="#faq8" class="collapsed question">
                                Do you have internet access?
                                <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i>
                            </div>
                            <div id="faq8" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    Yes, you get to have free internet access! as well as WiFi!
                                </p>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>

        </div>
    </section>

</div>

</html>
