<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<div layout:fragment="content">

    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">
            <div class="ibox">
                <div class="ibox-title">
                    <div class="row">
                        <div class="col-lg-10">
                            <h3><span>공지사항</span></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

</html>