<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<div layout:fragment="content">

    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">
            <h2><u>발간도서</u></h2>
            <h3>표지사진</h3>
            <ol>
                <li>해외 입양과 한국 민족주의 - 한국 대중문화에 나타난 해외입양과 입양 한국인의 모습<br/>
                    원제 Comforting an Orphaned Nation 고아가 된 나라를 위로하기<br/>
                    토마스 휘비네트(저자) | 뿌리의 집(역자) | 소나무 | 2008<br/>
                    15000원<br/>
                    383쪽<br/>
                </li>
                <li>
                    인종간 입양의 사회학 - 이식된 삶에 대한 당사자들의 목소리<br/>
                    원제 Outsiders Within<br/>
                    제인 정 트렌카(편자) | 줄리아 치니에르 오패러(편자) | 선영 신(편자) | 뿌리의집 | 2012<br/>
                    30,000원<br/>
                    590쪽<br/>
                </li>
                <li>
                    원초적 상처 - 입양가족의 성장을 위한 카운슬링<br/>
                    원제 Primal Wound<br/>
                    낸시 뉴턴 베리어(저자) | 뿌리의 집(역자) | 뿌리의집 | 2013<br/>
                    15,000원<br/>
                    292쪽<br/>
                </li>
                <li>
                    입양치유 - 입양으로 아이를 잃은 어머니의 회복과 성숙을 위한 카운슬링<br/>
                    원제 Adoption Healing: A Path to Recovery for Mothers Who Lost Children to Adoption (2003년)<br/>
                    조 솔(저자) | 캐런 윌슨 부터보(저자) | 뿌리의 집(역자) | 뿌리의집 | 2013<br/>
                    12,000원<br/>
                    256쪽<br/>
                </li>
                <li>
                    구원과 밀매 - 복음주의 기독교의 선의와 국제간 아동 입양의 현실<br/>
                    원제 The Child Catchers: Rescue, Trafficking, and the New Gospel of Adoption<br/>
                    캐서린 조이스(저자) | 박준영(역자) | 뿌리의집 | 2014<br/>
                    22000원<br/>
                    480쪽<br/>
                </li>
                <li>
                    한국 해외 입양 - 초국가적 아동 양육 실험과 분투하는 입양 서사 50년<br/>
                    원제 : International Korean Adoption<br/>
                    캐슬린 자숙 버퀴스트(저자) | 유진월(역자) | 뿌리의집 | 2015<br/>
                    30,000원<br/>
                    516쪽<br/>
                </li>
                <li>
                    왜 그 아이들은 한국을 떠나지 않을 수 없었나: 해외입양의 숨겨진 역사<br/>
                    원제 : To Save the Children of Korea: The Cold War Origins of International Adoption<br/>
                    아리사H. 오 지음 | 이은진 옮김 | 뿌리의집 | 2019<br/>
                    19,000원<br/>
                    404쪽<br/>
                </li>
                <li>
                    인종주의의 덫을 넘어서: 혼혈 한국인, 혼혈 입양인 이야기<br/>
                    원제 : Mixed Korean: Our Stories<br/>
                    캐서린 김 ⋅ 체리사 김 ⋅ 소라 김 러셀 ⋅ 메리 김 아널드 엮음 | 강미경 옮김 | 뿌리의집 | 2020<br/>
                    18,000원<br/>
                    427쪽<br/>
                </li>
            </ol>
        </div>
    </section>

</div>

</html>
