<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<div layout:fragment="content">

    <section id="contact" class="contact">
        <input id="boardType" type="hidden" th:value="${type}">
        <div class="container" data-aos="fade-up">
            <div class="row">
                <div class="col-lg-12">
                    <h3><span th:text="${type.name}"></span></h3>
                </div>
            </div>
            <table id="table"
                   data-toggle="table"
                   data-pagination="true"
                   data-search="true"
                   data-show-columns="true"
                   data-side-pagination="server"
                   data-page-list="[10, 25, 50, 100, all]"
                   data-url="/api/board/list?type=NOTICE"
            >
            </table>
        </div>
    </section>

    <th:block layout:fragment="script">
        <script>
            $(function() {
                initTable();
            })
        </script>
    </th:block>

    <style type="text/css">
        .page-link {
            color:#000000
        }
        .page-item.active .page-link{
            background-color:#48bd2b
        }
    </style>

</div>

</html>