<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<div layout:fragment="content">

    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">

            <div class="container">
                <div class="row">
                    <div class="col-2">제목</div>
                    <div class="col">제목제목제목</div>
                </div>
                <div class="row">
                    <div class="col-2">제목</div>
                    <div class="col">제목제목제목</div>
                </div>
                <div class="row">
                    <div class="col-2">제목</div>
                    <div class="col">제목제목제목</div>
                </div>
                <div class="row">
                    <div class="col-2">제목</div>
                    <div class="col">제목제목제목</div>
                </div>
                <div>
                    테스트
                </div>
            </div>

        </div>
    </section>

    <th:block layout:fragment="script">
        <script>
            $(function() {

            })
        </script>
    </th:block>

</div>

</html>