<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<div layout:fragment="content">

    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">
            <article class="board-detail">
                <hgroup>
                    <em th:text="${type.name}"></em>
                    <strong th:text="${board.title}"></strong>
                    <i th:text="${board.createDate}"></i>
                </hgroup>
                <div class="con" th:utext="${board.contents}">
                </div>
            </article>
            <article class="board-btns">
                <a th:href="@{/board/list(type='NOTICE')}" class="btn-go-list">목록으로</a>
            </article>
        </div>
    </section>

</div>

</html>