<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<div layout:fragment="content">

    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">
            <article class="board-detail">
                <hgroup>
                    <em th:text="${boardInfo.boardName}" style="font-style: inherit;"></em>
                    <strong th:text="${boardPost.title}"></strong>
                    <i th:text="${boardPost.formatDate}" style="font-style: inherit;"></i>
                </hgroup>
                <div class="con" th:utext="${boardPost.contents}">
                </div>
            </article>
            <article class="board-btns">
                <a th:href="@{/board/{boardInfoId}/list(boardInfoId=${boardInfo.boardInfoId})}" class="btn-go-list">목록으로</a>
            </article>
        </div>
    </section>

</div>

</html>