<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

    <div layout:fragment="content" style="margin : 2.0em">
        <section id="contact" class="contact">
            <div class="container" data-aos="fade-up">
<!--                <div th:utext="${boardPost.contents}">-->
<!--                </div>-->
                <textarea id="contents"></textarea>
            </div>
        </section>

        <th:block layout:fragment="script">
            <script src="https://cdn.ckeditor.com/ckeditor5/27.0.0/classic/ckeditor.js"></script>
            <script src="https://ckeditor.com/apps/ckfinder/3.5.0/ckfinder.js"></script>
            <script>
                let editor;

                ClassicEditor
                .create( document.querySelector( '#contents' ))
                .then( newEditor => {
                    $(".ck.ck-toolbar__items").hide();
                    editor = newEditor;

                    commAjax.get("/intro/test")
                        .then( res => {
                            editor.setData( res.contents );
                            editor.isReadOnly = true;
                        });
                })
                .catch( error => {
                    console.error( error );
                } );


            </script>
        </th:block>

        <style type="text/css">
        </style>


    </div>
</html>