<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<div layout:fragment="content">

    <section id="contact" class="contact">
        <input id="boardInfoId" type="hidden" th:value="${boardInfo.boardInfoId}">
        <div class="container" data-aos="fade-up">
            <div class="row">
                <div class="col-lg-12">
                    <h3><span th:text="${boardInfo.boardName}"></span></h3>
                    <h6 th:if="${boardInfo.boardInfoId == 6}">
                        사단법인 뿌리의집은 매년 2월 내부감사를 통해 사업 및 재정감사와 후원금운영의 투명성을 검증받고있습니다. <br/>
                        더불어 매월 회계 및 후원현황 보고를 홈페이지에 공시하고, 연차보고서를 통해 감사보고서와 재정현황을 보고합니다. <br/>
                        후원자들의 소중한 뜻이 해외입양인 더 나아가 친생가족, 미혼모의 삶이 나아지는데 쓰여질 수 있도록 끊임없이 고민하고 투명하게 사용하겠습니다.
                    </h6>
                </div>
            </div>
            <table id="table"
                   data-toggle="table"
                   data-pagination="true"
                   data-search="true"
                   data-show-columns="true"
                   data-side-pagination="server"
                   data-page-list="[10, 25, 50, 100, all]"
            >
            </table>
        </div>
    </section>

    <th:block layout:fragment="script">
        <script src="/js/board.js"></script>
        <script>
            $(function() {
                initTable();
            })
        </script>
    </th:block>

</div>

</html>