<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<div layout:fragment="content">

    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Contact us</h2>
                <h3><span>찾아오시는 길</span></h3>
                <p>뿌리의집에 문의사항을 남겨주시면 메일로 답변드리겠습니다. 고맙습니다. </p>
            </div>

            <div class="row" data-aos="fade-up" data-aos-delay="100">
                <div class="col-lg-6">
                    <div class="info-box mb-4">
                        <i class="bx bx-map"></i>
                        <h3>Our Address</h3>
                        <p>(03020) 서울 종로구 창의문로10길 21</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="info-box  mb-4">
                        <i class="bx bx-envelope"></i>
                        <h3>Email Us</h3>
                        <p>admin@koroot.org</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="info-box  mb-4">
                        <i class="bx bx-phone-call"></i>
                        <h3>Call Us</h3>
                        <p>02-3210-2451</p>
                    </div>
                </div>

            </div>

            <div class="row" data-aos="fade-up" data-aos-delay="100">

                <div class="col-lg-6 ">
                    <iframe class="mb-4 mb-lg-0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3161.3668295682555!2d126.9615934116682!3d37.59352482246294!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ca2ae178e562b%3A0x76119f2eae3e81a2!2z64yA7ZWc66-86rWtIOyEnOyauO2KueuzhOyLnCDsooXroZzqtawg7LC97J2Y66y466GcMTDquLggMjE!5e0!3m2!1sko!2sbg!4v1705915797647!5m2!1sko!2sbg" frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>
                </div>

                <div class="col-lg-6">
                    <form role="form" onsubmit="return mailSend();" class="php-email-form">
                        <div class="row">
                            <div class="col form-group">
                                <input type="text" id="name" name="name" class="form-control" placeholder="Your Name" required>
                            </div>
                            <div class="col form-group">
                                <input type="email" class="form-control" id="email" name="email" placeholder="Your Email" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" required>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" id="message" name="message" rows="5" placeholder="Message" required></textarea>
                        </div>
                        <div class="my-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div>
                        <div class="text-center">
                            <button id="sendMail" class="ladda-button" type="submit" data-style="contract" style="width: 15em;">
                                <span class="ladda-label">Send Message</span>
                            </button>
                        </div>
                    </form>
                </div>

            </div>
            <br/><br/><br/>
            <div class="row" data-aos="fade-up" data-aos-delay="100">
                <div style="border: 2px solid #3b8540;text-align: center;font-size: 1.5em;">
                    찾아오시는 길
                </div>

                <p>
                    <br/>
                    <strong>경복궁역에서 대중교통(버스)로 오실 때</strong><br/>
                    지하철 3호선 경복궁역 3번 출구로 나와 1711, 7016, 7018번 버스로 환승 후 자하문터널입구,석파정 앞에서 (4번째 정류장) 하차합니다. <br/>
                    자하문터널 쪽으로 50미터 정도 되돌아 올라가면 세븐일레븐과 파란대문이 나오는데 거기서 자하문 터널 왼쪽 길로 150미터 정도 올라오면 뿌리의집 사무국이 있습니다.

                </p>

                <p>
                    <br/>
                    <strong>경복궁역에서 도보로 오실 때</strong><br/>
                    지하철역 3호선 경복궁역 3번 출구로 나온 후, 청운초등학교와 경기상고, 자하문 터널 우측 보행자 통로를 지나 <br/>
                    영화 기생출 포토존 우측 계단으로 올라가 왼쪽방향으로 30미터 걸어내려가면 우측에 뿌리의집 사무국이 있습니다.
                </p>

                <p>
                    <br/>
                    <strong>인천공항에서 오실 때</strong><br/>
                    1) KAL리무진 이용 : 코리아나 호텔 행 KAL리무진 >> 코리아나 호텔 하차 >> 택시이용<br/>
                    2) 공항리무진 이용 : 코리아나 호텔 행 KAL리무진 >> 코리아나 호텔 하차 >> 택시이용
                </p>

                <p>
                    <br/>
                    <strong>택시를 이용하실 때</strong><br/>
                    택시기사님에게 아래내용을 설명해주세요.<br/>
                    청운초등학교앞 삼거리에서 경복고, 청운중학교 앞을 지나는 창의문로로 올라가서 창의문앞 삼거리에서 클럽에스프레소를 우측에 끼고 백석동길로 들어와서 <br/>
                    계열사를 지나 목식당 앞 4거리에서 좌회전 해서 급경사인 창의문로 10길로 170미터 내려오면 우측에 뿌리의집 사무국이 있습니다.
                </p>
            </div>

        </div>
    </section>

    <th:block layout:fragment="script">
        <script>

            const $name = $("#name");
            const $email = $("#email");
            const $subject = $("#subject");
            const $message = $("#message");
            const $l = $( '#sendMail' ).ladda();

            function mailSend(){
                let param = {
                    "name": $name.val(),
                    "email": $email.val(),
                    "subject": $subject.val(),
                    "message": $message.val()
                };

                $l.ladda( 'start' );
                commAjax.post("/mail", param)
                    .then(function(result){
                        if (result) {
                            Swal.fire("", "메일을 보냈습니다.", "success");
                            formClear();
                            $l.ladda('stop');
                        } else {
                            Swal.fire("", "메일을 보내는데 실패했습니다.", "error");
                            $l.ladda('stop');
                        }
                    });

                return false;
            }

            function formClear(){
                $name.val('');
                $email.val('');
                $subject.val('');
                $message.val('');
            }
        </script>
    </th:block>

</div>

</html>