<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<div layout:fragment="content">

    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Contact</h2>
                <h3><span>Contact Us</span></h3>
                <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p>
            </div>

            <div class="row" data-aos="fade-up" data-aos-delay="100">
                <div class="col-lg-6">
                    <div class="info-box mb-4">
                        <i class="bx bx-map"></i>
                        <h3>Our Address</h3>
                        <p>(03031) 서울시 종로구 자하문로 125-10</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="info-box  mb-4">
                        <i class="bx bx-envelope"></i>
                        <h3>Email Us</h3>
                        <p>admin@koroot.org</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="info-box  mb-4">
                        <i class="bx bx-phone-call"></i>
                        <h3>Call Us</h3>
                        <p>02-3210-2451</p>
                    </div>
                </div>

            </div>

            <div class="row" data-aos="fade-up" data-aos-delay="100">

                <div class="col-lg-6 ">
                    <iframe class="mb-4 mb-lg-0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1580.8152920220596!2d126.96806282806267!3d37.58731569630774!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ca2ba14ad451d%3A0x4563337029cfa520!2z64yA7ZWc66-86rWtIOyEnOyauO2KueuzhOyLnCDsooXroZzqtawg7LKt7Jq07Zqo7J6Q64-ZIDUzLTU2!5e0!3m2!1sko!2sbg!4v1617193515727!5m2!1sko!2sbg" frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>
                </div>

                <div class="col-lg-6">
                    <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                        <div class="row">
                            <div class="col form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                            </div>
                            <div class="col form-group">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                        </div>
                        <div class="my-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div>
                        <div class="text-center"><button type="submit">Send Message</button></div>
                    </form>
                </div>

            </div>
            <br/><br/><br/>
            <div class="row" data-aos="fade-up" data-aos-delay="100">
                <div style="border: 2px solid #3b8540;text-align: center;font-size: 1.5em;">
                    찾아오시는 길
                </div>

                <p>
                    <br/>
                    <strong>경복궁역에서 대중교통(버스)로 오실 때</strong><br/>
                    지하철 3호선 경복궁역 3번 출구로 나와 1711,7016,7018번 버스로 환승 후 경기상고 앞에서(3번째 정류장) 하차합니다. <br/>
                    경기상고 앞 횡단보도를 건넌 후 버스정류장 옆 [청운설비]를 끼고 오른쪽 골목 안으로 20m정도 들어오면 오른쪽에 뿌리의집이 있습니다.
                </p>

                <p>
                    <br/>
                    <strong>경복궁역에서 도보로 오실 때</strong><br/>
                    지하철 3호선 경복궁역 2번 출구로 나온 후, 청운초등학교를 지나서 [청운설비]가 나올 때까지 약 20분 가량 직진합니다. <br/>
                    [궁중음식전문점 지화자]와 [청운설비] 골목 안 20m 오른쪽에 뿌리의집이 있습니다.
                </p>

                <p>
                    <br/>
                    <strong>인천공항에서 오실 때</strong><br/>
                    1) KAL리무진 이용 : 코리아나 호텔 행 KAL리무진 >> 코리아나 호텔 하차 >> 택시이용<br/>
                    2) 공항리무진 이용 : 코리아나 호텔 행 KAL리무진 >> 코리아나 호텔 하차 >> 택시이용
                </p>

                <p>
                    <br/>
                    <strong>택시를 이용하실 때</strong><br/>
                    택시기사님에게 아래내용을 설명해주세요.<br/>
                    “경복궁역에서 자하문 터널 방향으로 직진하시다가 자하문 터널 직전에 ‘경기상고’ 앞에서 유턴합니다.
                    바로 앞 버스정류장 옆 청운설비에서 내려주십시오”<br/>
                    [궁중음식전문점 지화자]와 [청운설비] 골목 안 20m 오른쪽에 뿌리의집이 있습니다.
                </p>
            </div>

        </div>
    </section>

</div>

</html>