<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/engDefault">

<div layout:fragment="content">
    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">
            <div class="col-sm-9" style="margin : 2.0em">
                <div>
                    <h2>History</h2>
                </div>
                <div class="de_module">
                    <div class="de22">

                        <div class="sec">
                            <dl>
                                <dt>2020</dt>
                                <dd>
                                    <div>
                                        ● 1st Adoption Truths Day Declaration reading(May 11th)
                                        <br/><br/>
                                        ● Hosting Dialogues with Adoptees :: Law, Policy & Intercountry adoption of Korea
                                        <br/><br/>
                                        ● Co-hosting 1st Adoption Truths Day International Conference “Adoption Justice: Issues of Records and Identity”
                                        <br/><br/>
                                        ● "Beyond the Trap of Racism: The Story of Mixed Koreans, Mixed Adoptees" was published
                                        <br/><br/>
                                        ● Joint press conference against the introduction of the anonymous birth registration system
                                        <br/><br/>
                                        ● Joint press conference calls for universal birth registration system
                                    </div>
                                </dd>
                            </dl>
                        </div>

                        <div class="sec">
                            <dl>
                                <dt>2019</dt>
                                <dd>
                                    <div>
                                        ● Approved to be an associated member of Family for Every Child in UK - 37 members in 34 countries
                                        <br/><br/>
                                        ● Co-hosting 9th Single Moms’ Day human rights campaign (May 4th) and international conference
                                        <br/><br/>
                                        ●『Why the children were forced to leave Korea』was published
                                        <br/><br/>
                                        ● Screening of 'Side by Side', a documentary for overseas adoption (Director Glenn Morey)
                                        <br/><br/>
                                        ● UBR Network won the 2019 Korea Human Rights Award(awarded by National Human Rights Commission)
                                    </div>
                                </dd>
                            </dl>
                        </div>

                        <div class="sec">
                            <dl>
                                <dt>2018</dt>
                                <dd>
                                    <div>
                                        ● Co-hosting press conference and  memorial ceremony of Korean adoptee from Norway Jan Sorskog
                                        <br/><br/>
                                        ● Human Library ’Reunion between birth family and adoptee, and human library’
                                        <br/><br/>
                                        ● Co-hosting 8th Single Moms’ Day marching campaign(May 5th) and international conference
                                        <br/><br/>
                                        ● Campaign ‘a country that sends children overseas for adoption today’ with Kakao storyfunding
                                        <br/><br/>
                                        ● meeting with Child welfare policy team of Ministry of Health and Welfare
                                        <br/><br/>
                                        ● My story theatre(Playback Theatre) with adoptees and birth families
                                        <br/><br/>
                                        ● 7th Solidarity Day - children's life tied to their birth records
                                    </div>
                                </dd>
                            </dl>
                        </div>

                        <div class="sec">
                            <dl>
                                <dt>2017</dt>
                                <dd>
                                    <div>
                                        ● International Conference  for the 7th Single Moms’ Day
                                        <br/><br/>
                                        ● University of California Irvine Symposium “The End of Korean International Adoption”  presentation(USA), Episcopal Church LA Intercountry Adoption Speech by Pastor Kim Do Hyun
                                        <br/><br/>
                                        ● Psychological counseling & healing seminar for adoptees “Hilbrand Westra: Adoption & Trauma”
                                        <br/><br/>
                                        ● Asian Philanthropy Award - The Philanthropist of the Year (Pastor Kim Do Hyun)
                                        <br/><br/>
                                        ● Funeral assistance for Korean adoptees’ deaths(April Philip Clay- US, Dec. Jan-Norway)
                                    </div>
                                </dd>
                            </dl>
                        </div>

                        <div class="sec">
                            <dl>
                                <dt>2016</dt>
                                <dd>
                                    <div>
                                        ● International Conference for the 6th Single Moms’ Day
                                        <br/><br/>
                                        ● Finding family through DNA testing [ adoptees’ voice network beyond geographical border] workshop
                                        <br/><br/>
                                        ● Adoption politics roundtable for the meeting of birth families and adoptees
                                        <br/><br/>
                                        ●Culture Project(Traditional martial arts training, poetry reading and meditation, soap work and knitting, small  outlet crafts, chocolate and bread making)
                                        <br/><br/>
                                        ● ”Women’s Lives during Joseon Dynasty” seminar with Prof. Jang Byeongin
                                        <br/><br/>
                                        ● 325KAMRA Korean partner, American Mixed-blood & Adoptee Group,   –  identifying birth family members through DNA testing service
                                    </div>
                                </dd>
                            </dl>
                        </div>

                        <div class="sec">
                            <dl>
                                <dt>2015</dt>
                                <dd>
                                    <div>
                                        ● Volunteer/activist training
                                        <br/><br/>
                                        ● International Conference for the 5th Single Moms’ Day
                                        <br/><br/>
                                        ● International Korean Adoption: A Fifty- Year History of Policy and Practice Korean translation and publishing
                                        <br/><br/>
                                        ● Culture Projects (accessories making, wool scarf making, cooking class with Christmas dinner)
                                    </div>
                                </dd>
                            </dl>
                        </div>

                        <div class="sec">
                            <dl>
                                <dt>2014</dt>
                                <dd>
                                    <div>
                                        ● Memorial ceremony for US adoptee, Hyunsoo O’Callaghan
                                        <br/><br/>
                                        ● International Conference for the 4th Single Moms’ Day
                                        <br/><br/>
                                        ● First Friday Movie Night (reflecting on Korean modern history through movies) (five events)
                                        <br/><br/>
                                        ●  Jeollanamdo Historical Trip with adoptees
                                    </div>
                                </dd>
                            </dl>
                        </div>

                        <div class="sec">
                            <dl>
                                <dt>2013</dt>
                                <dd>
                                    <div>
                                        ● International Conference and Human Library for ‘the 3rd Single Moms’ Day
                                        <br/><br/>
                                        ● Korean translation of Outsiders Within selected by Ministry of Culture, Sports, and Tourism as an excellent scholarly book of the year (Social Science field)
                                        <br/><br/>
                                        ● 10th Anniversary Event
                                    </div>
                                </dd>
                            </dl>
                        </div>

                        <div class="sec">
                            <dl>
                                <dt>2012</dt>
                                <dd>
                                    <div>
                                        ● Publishing company established and commemoration held for the Korean translation and publishing of Outsiders Within edited by Jane Jeong Trenka and more
                                        <br/><br/>
                                        ● International Conference commemorating the 2nd Single Moms’ Day
                                        <br/><br/>
                                        ● Mini concert by German adoptee, Miriam Akkermann
                                        <br/><br/>
                                        ● 1st Solidarity Day (continuing annually to the present)
                                    </div>
                                </dd>
                            </dl>
                        </div>

                        <div class="sec">
                            <dl>
                                <dt>2011</dt>
                                <dd>
                                    <div>
                                        ● International Conference commemorating 1st Single Moms’ Day
                                        <br/><br/>
                                        ● Fully Amended Special Adoption Law passed at National Assembly
                                        <br/><br/>
                                        ● Fundraiser for adoptees’ livelihood through potluck dinner & auction
                                    </div>
                                </dd>
                            </dl>
                        </div>

                        <div class="sec">
                            <dl>
                                <dt>2010</dt>
                                <dd>
                                    <div>
                                        ● Call for the amendment  of Special Adoption Law and screening of a documentary film Resilience
                                        <br/><br/>
                                        ● “Hague Convention on Child Trafficking and Intercountry Adoption and Korean adoption system” Presentation  (Place- Korean Women’s development Institute) by Dr. David Smolin
                                        <br/><br/>
                                        ● International Association of Korean Lawyers session with Dr. David Smolin
                                        <br/><br/>
                                        ● Book release party for the novel Remembering Koryo written by  a French adoptee, Eric
                                        <br/><br/>
                                        ● “Meet the Artist” event with Belgian adoptee cartoonist, Jeongshik Jeon
                                        <br/><br/>
                                        ● Non-profit organization registration through the Ministry of Foreign Affairs
                                    </div>
                                </dd>
                            </dl>
                        </div>

                        <div class="sec">
                            <dl>
                                <dt>2009</dt>
                                <dd>
                                    <div>
                                        ● Memorial ceremony for  Swedish adoptee, Susan Brink
                                        <br/><br/>
                                        ● 4th Adoption Day commemoration and photo and video art exhibition by adoptee artists(Kim Sperling and others): “Dispersed and Returned”
                                    </div>
                                </dd>
                            </dl>
                        </div>

                        <div class="sec">
                            <dl>
                                <dt>2008</dt>
                                <dd>
                                    <div>
                                        ● Heurgbyulnal Intercultural Business School of KoRoot (HIBSOK)
                                        <br/><br/>
                                        ● English Poetry reading by a US adoptee, Prof. Lee Herrick
                                        <br/><br/>
                                        ● 5th anniversary ceremony and party in celebration of the Korean translation of Comforting an Orphan Nation by Tobias Hubinette
                                        <br/><br/>
                                        ● English Poetry reading by a US adoptee Prof. Jennifer Kwon Dobbs
                                    </div>
                                </dd>
                            </dl>
                        </div>

                        <div class="sec">
                            <dl>
                                <dt>2007</dt>
                                <dd>
                                    <div>
                                        ● Heurgbyulnal Intercultural Business School of KoRoot (HIBSOK)
                                        <br/><br/>
                                        ● Autumn Night Garden Concert
                                    </div>
                                </dd>
                            </dl>
                        </div>

                        <div class="sec">
                            <dl>
                                <dt>2006</dt>
                                <dd>
                                    <div>
                                        ● Heurgbyulnal Intercultural Business School of KoRoot (HIBSOK)
                                        <br/><br/>
                                        ● Patriarchy and Overseas Adoption: Public Discussion about Adoption Day (Place- National Human Rights Commission of Korea)
                                        <br/><br/>
                                        ● 3rd anniversary commemoration and screening of a film by US adoptee director Tammy Chu
                                    </div>
                                </dd>
                            </dl>
                        </div>

                        <div class="sec">
                            <dl>
                                <dt>2005</dt>
                                <dd>
                                    <div>
                                        ● Opening - Heurgbyulnal Intercultural Business School of KoRoot (HIBSOK)
                                    </div>
                                </dd>
                            </dl>
                        </div>

                        <div class="sec">
                            <dl>
                                <dt>2004</dt>
                                <dd>
                                    <div>
                                        ● The inauguration of Rev. Do Hyun Kim and JungAe Kong for KoRoot
                                        <br/><br/>
                                        ● 1st anniversary commemoration and exhibition by adopted Belgian conceptual artist Mihee Cho
                                        <br/><br/>
                                        ● Memorial service for US adoptee Scott Kim Calla
                                        <br/><br/>
                                        ● Evening party for US adoptee writer Jane Jeong Trenka
                                    </div>
                                </dd>
                            </dl>
                        </div>

                        <div class="sec">
                            <dl>
                                <dt>2003</dt>
                                <dd>
                                    <div>
                                        ● Non-profit organization registration in the International Cooperation Division of the City of Seoul
                                        <br/><br/>
                                        ● Opening ceremony of KoRoot(July 7th)
                                        <br/><br/>
                                        ● First Chuseok festival with adoptees
                                    </div>
                                </dd>
                            </dl>
                        </div>

                        <div class="sec">
                            <dl>
                                <dt>2002</dt>
                                <dd>
                                    <div>
                                        ● General meeting of foundation of overseas adoptees center
                                        Joint Rep. :Kim, GilJa(Founder of Kyungin Women’s College), Seo, Kyung Suk (Executive chairman of Korean Sharing Movement)
                                    </div>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

</html>