<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<div layout:fragment="content" style="margin : 2.0em">
    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-3">
                    <img width="100%" height="80%" src="/img/logo.jpg" />
                </div>
                <div class="col-md-3">
                    <img width="100%" height="100%" src="/img/intro/intro11.jpg" />
                </div>
                <div class="col-md-3"></div>
            </div>
            <p>
                뿌리의집은 환대의 마음 위에 세워진 해외입양인을 위한 게스트하우스이자 해외입양인의 권익을 옹호하고 우리 사회의 입양담론 형성과 전개에 사려깊은 관점을 모색하는 시민단체입니다.
            </p><br/>

            <p><h3>설립목적</h3></p>

            <p>
                2003년에 설립된 비영리 사단법인 뿌리의집(KoRoot: The House of Korean Root)은 대한민국 태생의 해외입양인의 모국방문과 재정착 과정을 지원하며, 그들의 인권신장에 기여하고, 입양인과 우리사회 간의 활발한 교류를 통해 입양인의 정체성 함양의 여정에 동반자가 되며 해외입양에 관한 우리사회의 인식을 제고하고자 합니다. 나아가 입양인 및 입양인 원가족들과 양육미혼모들과의 연대 안에서 우리 사회의 친생가족중심의 양육체계 확립에 적극 기여하고자 합니다.
            </p><br/>

            <p><h3>주요사업</h3></p>

            <p>
                해외입양인 쉼터사업 : 해외입양인 전문 게스트하우스 운영<br/>
                모국생활지원사업 : 해외입양인 모국생활의 실질적 필요나 가족찾기 지원 및 명절행사<br/>
                권리옹호사업 : 해외입양인과 친생부모의 권익을 옹호하는 제도개선 및 연대활동<br/>
                연구사업 : 해외입양에 대한 인식과 제도의 개선을 위한 연구활동<br/>
                출판사업 : 해외입양 담론의 다양화를 위한 출판사업<br/>
            </p>
        </div>
    </section>
</div>

</html>