<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<div layout:fragment="content">
    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">
            <div class="col-sm-9" style="margin : 2.0em">
                <div>
                    <h2>단체연혁</h2>
                </div>
                <div class="de_module">
                    <div class="de22">
                        <div class="sec">
                            <dl>
                                <dt>2020</dt>
                                <dd>
                                    <span>04</span>
                                    <div>
                                        아동인권포럼 - 아동학대처벌특례법 개정 및 과제
                                    </div>
                                </dd>
                                <dd>
                                    <span>05</span>
                                    <div>
                                        입양 진실의 날 선언문 낭독(5월 11일)
                                    </div>
                                </dd>
                                <dd>
                                    <span>06-11</span>
                                    <div>
                                        입양인들과의 대화 시리즈 “한국의 국제입양 법, 정책 그리고 관행” 개최
                                    </div>
                                </dd>
                                <dd>
                                    <span>09</span>
                                    <div>
                                        제1회 입양진실의 날 국제컨퍼런스 “입양 정의를 말한다: 기록과 정체성” 공동주최
                                    </div>
                                </dd>
                                <dd>
                                    <span>11</span>
                                    <div>
                                        책 『인종주의의 덫을 넘어서: 혼혈 한국인, 혼혈 입양인 이야기』발간
                                    </div>
                                </dd>
                                <dd>
                                    <span>11</span>
                                    <div>
                                        보호출산제 도입 반대 기자회견 공동개최
                                    </div>
                                </dd>
                                <dd>
                                    <span>12</span>
                                    <div>
                                        보편적 출생신고 제도 마련 요구 기자회견 공동개최
                                    </div>
                                </dd>
                            </dl>
                        </div>

                        <div class="sec">
                            <dl>
                                <dt>2019</dt>
                                <dd>
                                    <span>01</span>
                                    <div>
                                        영국 Family for Every Child 회원승인 - 전세계 34개국 37개 단체
                                    </div>
                                </dd>
                                <dd>
                                    <span>03</span>
                                    <div>
                                        한국미혼모가족협회 10주년 기념식 - 공로상 수상
                                    </div>
                                </dd>
                                <dd>
                                    <span>05</span>
                                    <div>
                                        제9회 싱글맘의 날 인권 캠페인(5/4) 및 국제 컨퍼런스 공동주최
                                    </div>
                                </dd>
                                <dd>
                                    <span>05</span>
                                    <div>
                                        책 『왜 그 아이들은 한국을 떠나지 않을 수 없었나』발간
                                    </div>
                                </dd>
                                <dd>
                                    <span>07</span>
                                    <div>
                                        해외입양 다큐멘터리 ‘Side by Side' 상영회(감독 글렌 모레이)
                                    </div>
                                </dd>
                                <dd>
                                    <span>07</span>
                                    <div>
                                        모국을 방문한 스웨덴 한국계 입양인들과의 만남
                                    </div>
                                </dd>
                                <dd>
                                    <span>09</span>
                                    <div>
                                        한국인권학회 9월 월례 포럼 발제 "한국의 국제입양과 입양인의 정체성을 알 권리"
                                    </div>
                                </dd>
                                <dd>
                                    <span>12</span>
                                    <div>
                                        보편적 출생신고 네트워크, 국가인권위원회 ‘2019 대한민국 인권상’ 수상
                                    </div>
                                </dd>
                            </dl>
                        </div>

                        <div class="sec">
                            <dl>
                                <dt>2018</dt>
                                <dd>
                                    <span>02</span>
                                    <div>
                                        노르웨이 국적 입양인 얀 소르코크씨 추모식 및 기자회견 공동개최
                                    </div>
                                </dd>
                                <dd>
                                    <span>05</span>
                                    <div>
                                        휴먼라이브러리 ’입양인과 친생가족의 재회, 그리고 인간도서관
                                    </div>
                                </dd>
                                <dd>
                                    <span>05</span>
                                    <div>
                                        제8회 싱글맘의 날 걷기 캠페인(5/5) 및 국제 컨퍼런스 공동주최
                                    </div>
                                </dd>
                                <dd>
                                    <span>05</span>
                                    <div>
                                        1988-2018: 30 Years of Korean Adoptees Return
                                    </div>
                                </dd>
                                <dd>
                                    <span>05-07</span>
                                    <div>
                                        스토리펀딩 캠페인 ‘오늘도 해외입양을 보내는 나라’
                                    </div>
                                </dd>
                                <dd>
                                    <span>06</span>
                                    <div>
                                        대한예수교장로회 통합 총회 인권위원회 인권선교정책협의회’해외입양 제도와 입양 당사자들의 인권문제 발제’
                                    </div>
                                </dd>
                                <dd>
                                    <span>08</span>
                                    <div>
                                        유엔아동권리협약 제5,6차 민간보고서 의견제출
                                    </div>
                                </dd>
                                <dd>
                                    <span>08</span>
                                    <div>
                                        보건복지부 입양정책팀과 함께하는 해외입양 간담회
                                    </div>
                                </dd>
                                <dd>
                                    <span>11</span>
                                    <div>
                                        입양인과 친생가족이 함께하는 나의 이야기극장-연극 Playback Theatre
                                    </div>
                                </dd>
                                <dd>
                                    <span>11</span>
                                    <div>
                                        제 7회 연대의 날(Solidarity Day)-출생기록에 얽힌 아동의 삶
                                    </div>
                                </dd>
                            </dl>
                        </div>

                        <div class="sec">
                            <dl>
                                <dt>2017</dt>
                                <dd>
                                    <span>04</span>
                                    <div>
                                        아시아필란트로피 어워드 -올해의 필란트로피스트 상 수상(김도현 목사)
                                    </div>
                                </dd>
                                <dd>
                                    <span>05</span>
                                    <div>
                                        제7회 싱글맘의 날 국제 컨퍼런스 공동주최
                                    </div>
                                </dd>
                                <dd>
                                    <span>05</span>
                                    <div>
                                        University of California Irvine Symposium “The End of Korean International Adoption”
                                        기조발제(USA), Episcopal Church LA 국제입양강연 김도현 목사
                                    </div>
                                </dd>
                                <dd>
                                    <span>09</span>
                                    <div>
                                        입양인 정신심리상담 치유세미나 ‘Hilbrand Westra: Adoption & Trauma’ <br/>
                                        해외입양인 사망에 따른 장례 지원(4월 필립클레이-미국, 12월 얀-노르웨이)
                                    </div>
                                </dd>
                            </dl>
                        </div>

                        <div class="sec">
                            <dl>
                                <dt>2016</dt>
                                <dd>
                                    <span>04</span>
                                    <div>
                                        유전 검사를 통한 가족찾기 이야기 나눔 [지리적 경계를 넘어 구축되어 있는 입양인들의 목소리] 워크숍
                                    </div>
                                </dd>
                                <dd>
                                    <span>05</span>
                                    <div>
                                        제6회 싱글맘의 날 국제 컨퍼런스 공동주최
                                    </div>
                                </dd>
                                <dd>
                                    <span>08</span>
                                    <div>
                                        입양정치학:친생가족과 입양인의 만남을 위한 라운드 테이블
                                    </div>
                                </dd>
                                <dd>
                                    <span>연중</span>
                                    <div>
                                        문화프로젝트(전통무예훈련, 시낭송회 및 명상, 비누와 털실작업, 소소한 공예품 아울렛, 초콜렛과 빵 만들기, 장병인 교수와 함께하는 ‘조선시대의 여성의 삶’)
                                        미국혼혈입양인단체 325KAMRA 한국 파트너 - 친가족찾기 DNA검사 사업
                                    </div>
                                </dd>
                            </dl>
                        </div>

                        <div class="sec">
                            <dl>
                                <dt>2015</dt>
                                <dd>
                                    <span>05</span>
                                    <div>
                                        제5회 싱글맘의 날 국제 컨퍼런스 공동주최
                                    </div>
                                </dd>
                                <dd>
                                    <span>05</span>
                                    <div>
                                        책 『한국해외입양-초국가적 아동 양육 실험과 분투하는 입양서사 50년』 발간
                                    </div>
                                </dd>
                                <dd>
                                    <span>연중</span>
                                    <div>
                                        문화프로젝트( 장신구만들기, 양모 스카프 만들기,요리교실 및 크리스마스 디너)
                                    </div>
                                </dd>
                            </dl>
                        </div>

                        <div class="sec">
                            <dl>
                                <dt>2014</dt>
                                <dd>
                                    <span>02</span>
                                    <div>
                                        미국입양인 현수군 추모식
                                    </div>
                                </dd>
                                <dd>
                                    <span>05</span>
                                    <div>
                                        제4회 싱글맘의 날 국제 컨퍼런스 공동주최
                                    </div>
                                </dd>
                                <dd>
                                    <span>06</span>
                                    <div>
                                        책 『구원과 밀매』 발간
                                    </div>
                                </dd>
                                <dd>
                                    <span>10</span>
                                    <div>
                                        입양인들과 함께하는 전라남도 역사기행
                                    </div>
                                </dd>
                            </dl>
                        </div>

                        <div class="sec">
                            <dl>
                                <dt>2013</dt>
                                <dd>
                                    <span>05</span>
                                    <div>
                                        제3회 싱글맘의 날 국제 컨퍼런스 및 인간도서관
                                    </div>
                                </dd>
                                <dd>
                                    <span>05</span>
                                    <div>
                                        『인종간 입양의 사회학』문화체육관광부 우수학술도서(사회과학분야)로 선정
                                    </div>
                                </dd>
                                <dd>
                                    <span>05</span>
                                    <div>
                                        책 『원초적 상처』, 『입양치유 』 발간
                                    </div>
                                </dd>
                                <dd>
                                    <span>12</span>
                                    <div>
                                        뿌리의집 창립 10주년 행사
                                    </div>
                                </dd>
                            </dl>
                        </div>

                        <div class="sec">
                            <dl>
                                <dt>2012</dt>
                                <dd>
                                    <span>04-05</span>
                                    <div>
                                        뿌리의집 출판사 설립 및 『인종간 입양의 사회학』 출판기념회
                                    </div>
                                </dd>
                                <dd>
                                    <span>05</span>
                                    <div>
                                        제2회 싱글맘의 날 국제 컨퍼런스
                                    </div>
                                </dd>
                                <dd>
                                    <span>10</span>
                                    <div>
                                        독일입양인 미리암의 작은 음악회
                                    </div>
                                </dd>
                                <dd>
                                    <span>11</span>
                                    <div>
                                        제1회 연대의 날(Solidarity day) 행사(현재까지 매년 개최)
                                    </div>
                                </dd>
                            </dl>
                        </div>

                        <div class="sec">
                            <dl>
                                <dt>2011</dt>
                                <dd>
                                    <span>05</span>
                                    <div>
                                        제1회 ‘싱글맘의 날’ 기념 국제 컨퍼런스
                                    </div>
                                </dd>
                                <dd>
                                    <span>06</span>
                                    <div>
                                        입양특례법 전면개정안 국회 통과
                                    </div>
                                </dd>
                                <dd>
                                    <span>10</span>
                                    <div>
                                        입양인 자활기금 조성을 위한 팟럭 디너 & 입찰식 경매 행사
                                    </div>
                                </dd>
                            </dl>
                        </div>

                        <div class="sec">
                            <dl>
                                <dt>2010</dt>
                                <dd>
                                    <span>05</span>
                                    <div>
                                        ‘입양특례법’개정 촉구대회 및 다큐영화 &lt;회복의 길&gt; 상영회
                                    </div>
                                </dd>
                                <dd>
                                    <span>05</span>
                                    <div>
                                        데이비드 스몰린(David Smolin)박사의 &lt;아동인신매매와 국가 간 입양에 관한 헤이그협약 및 한국의 입양제도&gt; 발표회
                                        주최(장소-한국여성정책연구원)
                                    </div>
                                </dd>
                                <dd>
                                    <span>07</span>
                                    <div>
                                        세계한인변호사회 초청 데이비드 스몰린 박사와의 간담회
                                    </div>
                                </dd>
                                <dd>
                                    <span>07</span>
                                    <div>
                                        프랑스 입양인 에릭의 소설 &lt;고려를 기억하며&gt; 출판기념회
                                    </div>
                                </dd>
                                <dd>
                                    <span>08</span>
                                    <div>
                                        벨기에 입양인 만화가 전정식씨 초청 ‘작가와의 만남
                                    </div>
                                </dd>
                                <dd>
                                    <span>09</span>
                                    <div>
                                        뿌리의집 비영리 사단법인 설립허가 취득
                                    </div>
                                </dd>
                            </dl>
                        </div>

                        <div class="sec">
                            <dl>
                                <dt>2009</dt>
                                <dd>
                                    <span>03</span>
                                    <div>
                                        스웨덴 입양인 수잔 브링크(Susan Brink) 추모식
                                    </div>
                                </dd>
                                <dd>
                                    <span>05</span>
                                    <div>
                                        제4회 입양의 날 기념 ‘이산과 귀환의 틈새’ 입양인 작가(Kim Sperling)의 사진전 및 비디오 아트 작품전
                                    </div>
                                </dd>
                            </dl>
                        </div>

                        <div class="sec">
                            <dl>
                                <dt>2008</dt>
                                <dd>
                                    <span>04</span>
                                    <div>
                                        흙별날 돌아와 살기 배움터 교실
                                    </div>
                                </dd>
                                <dd>
                                    <span>05</span>
                                    <div>
                                        미국 입양인 리 헤릭(Lee Herrick) 교수 영시낭송회 개최
                                    </div>
                                </dd>
                                <dd>
                                    <span>08</span>
                                    <div>
                                        개원 5주년 기념식 및 ‘해외입양과 민족주의’ 출판 축하회
                                    </div>
                                </dd>
                                <dd>
                                    <span>08</span>
                                    <div>
                                        미국 입양인 제니퍼 권 돕스(Jennifer Kwon Dobbs) 교수 영시 낭송회 개최
                                    </div>
                                </dd>
                            </dl>
                        </div>

                        <div class="sec">
                            <dl>
                                <dt>2007</dt>
                                <dd>
                                    <span>04</span>
                                    <div>
                                        흙별날 돌아와 살기 배움터 교실
                                    </div>
                                </dd>
                                <dd>
                                    <span>10</span>
                                    <div>
                                        가을밤 가든 콘서트
                                    </div>
                                </dd>
                            </dl>
                        </div>

                        <div class="sec">
                            <dl>
                                <dt>2006</dt>
                                <dd>
                                    <span>04</span>
                                    <div>
                                        흙별날 돌아와 살기 배움터 교실
                                    </div>
                                </dd>
                                <dd>
                                    <span>05</span>
                                    <div>
                                        입양의 날 기념 토론회 개최(장소-국가인권위원회)
                                    </div>
                                </dd>
                                <dd>
                                    <span>07</span>
                                    <div>
                                        개원 3주년 기념식 및 미국입양인 태미 추(Tammy Chu) 감독의 영화 상영회
                                    </div>
                                </dd>
                            </dl>
                        </div>

                        <div class="sec">
                            <dl>
                                <dt>2005</dt>
                                <dd>
                                    <span>04</span>
                                    <div>
                                        흙별날 돌아와 살기 배움터 교실
                                    </div>
                                </dd>
                            </dl>
                        </div>

                        <div class="sec">
                            <dl>
                                <dt>2004</dt>
                                <dd>
                                    <span>02</span>
                                    <div>
                                        김도현 목사, 공정애 사모 뿌리의집 취임
                                    </div>
                                </dd>
                                <dd>
                                    <span>07</span>
                                    <div>
                                        뿌리의집 개원 1주년 기념식 및 벨기에 입양인 화가 조미희 작품전
                                    </div>
                                </dd>
                                <dd>
                                    <span>09</span>
                                    <div>
                                        미국 입양인 스캇 킴 칼라(Scott Kim Calla)의 추모식
                                    </div>
                                </dd>
                                <dd>
                                    <span>10</span>
                                    <div>
                                        미국 입양인 소설가 제인 정 트렌카(Jane Jeong Trenka) 초청 명사초대의 밤
                                    </div>
                                </dd>
                            </dl>
                        </div>

                        <div class="sec">
                            <dl>
                                <dt>2004</dt>
                                <dd>
                                    <span>02</span>
                                    <div>
                                        김도현 목사, 공정애 사모 뿌리의집 취임
                                    </div>
                                </dd>
                                <dd>
                                    <span>07</span>
                                    <div>
                                        뿌리의집 개원 1주년 기념식 및 벨기에 입양인 화가 조미희 작품전
                                    </div>
                                </dd>
                                <dd>
                                    <span>09</span>
                                    <div>
                                        미국 입양인 스캇 킴 칼라(Scott Kim Calla)의 추모식
                                    </div>
                                </dd>
                                <dd>
                                    <span>10</span>
                                    <div>
                                        미국 입양인 소설가 제인 정 트렌카(Jane Jeong Trenka) 초청 명사초대의 밤
                                    </div>
                                </dd>
                            </dl>
                        </div>

                        <div class="sec">
                            <dl>
                                <dt>2003</dt>
                                <dd>
                                    <span>04</span>
                                    <div>
                                        뿌리의집 서울시 국제협력과에 비영리 민간단체로 등록
                                    </div>
                                </dd>
                                <dd>
                                    <span>07</span>
                                    <div>
                                        뿌리의집 개원식(7.7)
                                    </div>
                                </dd>
                                <dd>
                                    <span>09</span>
                                    <div>
                                        입양인 초청 추석음식페스티벌 개최
                                    </div>
                                </dd>
                            </dl>
                        </div>

                        <div class="sec">
                            <dl>
                                <dt>2002</dt>
                                <dd>
                                    <span>02</span>
                                    <div>
                                        해외입양인센터 창립총회 개최
                                        공동대표 : 김길자(경인여자대학 설립자), 서경석(우리민족서로돕기 집행위원장)
                                    </div>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

</html>