<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorator="layout/default">

<div layout:fragment="content">
    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">
            <div class="col-sm-9" style="margin : 2.0em">
                <div>
                    <h2>단체연혁</h2>
                </div>
                <div class="de_module">
                    <div class="de22">
                        <div class="sec">
                            <dl>
                                <dt>2023</dt>
                                <dd>
                                    <span>01</span>
                                    <div>아름다운 기부 자선전시회 유명애 기증전(1/4 - 1/10)</div>
                                </dd>
                                <dd>
                                    <span>01</span>
                                    <div>설 명절행사(1/21)</div>
                                </dd>
                                <dd>
                                    <span>02</span>
                                    <div>해외입양인 인권실태 및 인권보장 방안 모색을 위한 국회토론회 (2/22)</div>
                                </dd>
                                <dd>
                                    <span>06</span>
                                    <div>게스트하우스 사업 종료(6/30)</div>
                                </dd>
                                <dd>
                                    <span>06</span>
                                    <div>‘출생통보제‘ 법안(가족관계등록법 개정안) 국회 본회의 통과(6/30)</div>
                                </dd>
                                <dd>
                                    <span>06</span>
                                    <div>입양특례법 전부 개정안, 국제입양법, 아동복지법 국회 본회의 통과(6/30)</div>
                                </dd>
                                <dd>
                                    <span>07</span>
                                    <div>20주년 기념식 및 입양인 예술가 작품 전시회(7/7 - 7/21)</div>
                                </dd>
                                <dd>
                                    <span>07</span>
                                    <div>해외입양인과 친생가족의 재회연구 포럼(7/17)</div>
                                </dd>
                            </dl>
                        </div>

                        <div class="sec">
                            <dl>
                                <dt>2022</dt>
                                <dd>
                                    <span>01</span>
                                    <div>국가 간 입양과 아동 최선의 이익 발간(1/31)</div>
                                </dd>
                                <dd>
                                    <span>02</span>
                                    <div>해외입양의 인권의제화를 위한 집담회(2/16)</div>
                                </dd>
                                <dd>
                                    <span>05</span>
                                    <div>포스트 코로나 가든파티(5/14)</div>
                                </dd>
                                <dd>
                                    <span>09</span>
                                    <div>추석 명절 행사(9/10)</div>
                                </dd>
                                <dd>
                                    <span>11</span>
                                    <div>해외입양인 인권침해조사신청(11/15)</div>
                                </dd>
                                <dd>
                                    <span>12</span>
                                    <div>뿌리의집 새 공간 마련을 위한 후원의밤 행사(12/30)</div>
                                </dd>
                            </dl>
                        </div>

                        <div class="sec">
                            <dl>
                                <dt>2021</dt>
                                <dd>
                                    <span>02</span>
                                    <div>[공동 성명]「양천아동학대사망사건 등 진상조사 및 아동학대 근절대책 마련 등을 위한 특별법안」 발의 환영 및 조속한 법 제정 촉구(2/16)</div>
                                </dd>
                                <dd>
                                    <span>05</span>
                                    <div>입양연대회의 창립총회(5/11)</div>
                                </dd>
                                <dd>
                                    <span>06</span>
                                    <div>포겟미낫 특별상영회 및 감독과의 대화(6월 26일)</div>
                                </dd>
                                <dd>
                                    <span>07</span>
                                    <div>입양인의 기록과 정체성 전문가 워크숍(7/1)</div>
                                </dd>
                                <dd>
                                    <span>11</span>
                                    <div>해외입양인인권침해 조사사업 - 국가인권위원회 <br><br>

                                        The Global Orphan Adoption System: South Korea's Impact on Its Origin and Development_국제입양에 있어서 아동권리의 국제법적 보호(저자 이경은 서울대학교 박사) 11월 30일 통인동 역사책방에서 출간기념 북토크 진행. 대면 60명, 비대면 269명 참여<br><br>

                                        아름다운재단 지원협력사업_해외입양아카이브 기초데이터베이스 자료집 발간 (11월)
                                    </div>
                                </dd>
                            </dl>
                        </div>

                        <div class="sec">
                            <dl>
                                <dt>2020</dt>
                                <dd>
                                    <span>01</span>
                                    <div>설날잔치[2005년부터 해마다 설날 당일 뿌리의집에서 개최해오고 있음]</div>
                                </dd>
                                <dd>
                                    <span>05</span>
                                    <div>연대단체들과 공동으로 “입양 진실의 날” 선언문 발표(5월 11일)</div>
                                </dd>
                                <dd>
                                    <span>06~11</span>
                                    <div>입양인들과의 대화 시리즈 강연 및 워크샵 개최: “한국의 국제입양에 관한 법, 정책 그리고 관행”</div>
                                </dd>
                                <dd>
                                    <span>09</span>
                                    <div>제1회 “입양 진실의 날” 국제컨퍼런스 “입양의 정의를 말하다: 기록과 정체성” 주최/주관</div>
                                </dd>
                                <dd>
                                    <span>10</span>
                                    <div>추석잔치 [매년 추석 당일에 뿌리의집에서 개최하던 추석잔치 코로나19로 컨퍼런스하우스 달개비에서 개최]</div>
                                </dd>
                                <dd>
                                    <span>11</span>
                                    <div>책 “인종주의의 덫을 넘어서: 혼혈 한국인, 혼혈 입양인 이야기“ 발간</div>
                                </dd>
                                <dd>
                                    <span>11</span>
                                    <div>보호출산제 도입 반대 기자회견 공동개최</div>
                                </dd>
                                <dd>
                                    <span>12</span>
                                    <div>보편적 출생신고 제도 도입 촉구 기자회견 공동개최</div>
                                </dd>
                            </dl>
                        </div>

                        <div class="sec">
                            <dl>
                                <dt>2019</dt>
                                <dd>
                                    <span>01</span>
                                    <div>국제아동인권단체 “Family for Every Child” 준회원 가입</div>
                                </dd>
                                <dd>
                                    <span>05</span>
                                    <div>제9회 싱글맘의 날 국제컨퍼런스 및 입양인 인권 캠페인</div>
                                </dd>
                                <dd>
                                    <span>05</span>
                                    <div>책 “왜 그 아이들은 한국을 떠나지 않을 수 없었나” 발간</div>
                                </dd>
                                <dd>
                                    <span>07</span>
                                    <div>해외입양 다큐멘터리 ‘Side by Side' 상영회(감독 글렌 모레이)</div>
                                </dd>
                                <dd>
                                    <span>12</span>
                                    <div>국가인권위원회로부터 ‘2019 대한민국인권상’ 공동수상(보편적출생신고네트워크 공동 활동)</div>
                                </dd>
                            </dl>
                        </div>

                        <div class="sec">
                            <dl>
                                <dt>2018</dt>
                                <dd>
                                    <span>01</span>
                                    <div>미국입양인 J D 장례 지원</div>
                                </dd>
                                <dd>
                                    <span>02</span>
                                    <div>노르웨이 입양인 얀 소르코크 추모식 및 기자회견 공동주최</div>
                                </dd>
                                <dd>
                                    <span>05</span>
                                    <div>휴먼라이브러리 “입양인과 친생가족의 재회” 개최</div>
                                </dd>
                                <dd>
                                    <span>05</span>
                                    <div>제8회 싱글맘의 날 기념 국제컨퍼런스 및 걷기 캠페인 공동주최</div>
                                </dd>
                                <dd>
                                    <span>05~07</span>
                                    <div>스토리펀딩 캠페인 “오늘도 해외입양을 보내는 나라”</div>
                                </dd>
                                <dd>
                                    <span>05</span>
                                    <div>해외입양인 모국 귀환 30주년 기념행사 “1988~2018: 30 Years of Korean Adoptees Return” 공동주최</div>
                                </dd>
                                <dd>
                                    <span>08</span>
                                    <div>유엔아동권리협약 제5,6차 민간보고서 공동 작업</div>
                                </dd>
                                <dd>
                                    <span>11</span>
                                    <div>입양인과 친생가족이 함께 하는 “나의 이야기 극장-Playback Theatre”</div>
                                </dd>
                                <dd>
                                    <span>11</span>
                                    <div>제7회 연대의 날(Solidarity Day) “출생기록에 얽힌 아동의 삶” [2005~2010년까지의 추수감사절 디너, 2011~2018년까지의연대의 날 기념행사는 종결]</div>
                                </dd>
                            </dl>
                        </div>

                        <div class="sec">
                            <dl>
                                <dt>2017</dt>
                                <dd>
                                    <span>04</span>
                                    <div>김도현 대표 아시아필란트로피 어워드-올해의 필란트로피스트 상 수상</div>
                                </dd>
                                <dd>
                                    <span>05</span>
                                    <div>제7회 싱글맘의 날 국제 컨퍼런스 공동주최</div>
                                </dd>
                                <dd>
                                    <span>05</span>
                                    <div>김도현 대표 미국 캘리포니아 UC Irvine 심포지엄 기조 발제 “The End of Korean International Adoption”</div>
                                </dd>
                                <dd>
                                    <span>05</span>
                                    <div>미국입양인 필립 클레이(Phillip Clay) 장례 지원</div>
                                </dd>
                                <dd>
                                    <span>09</span>
                                    <div>입양인 정신심리상담 치유세미나(강사 Hilbrand Westra)</div>
                                </dd>
                                <dd>
                                    <span>12</span>
                                    <div>노르웨이 입양인 얀 소르코크 장례 지원</div>
                                </dd>
                            </dl>
                        </div>

                        <div class="sec">
                            <dl>
                                <dt>2016</dt>
                                <dd>
                                    <span>04~11</span>
                                    <div>입양인들과 함께 하는 문화프로젝트 운영</div>
                                </dd>
                                <dd>
                                    <span>04</span>
                                    <div>유전자 검사를 통한 가족찾기 워크샵: 지리적 경계 너머에 있는 입양인들의 목소리</div>
                                </dd>
                                <dd>
                                    <span>05</span>
                                    <div>제6회 싱글맘의 날 국제컨퍼런스 공동주최</div>
                                </dd>
                                <dd>
                                    <span>08</span>
                                    <div>입양인과 친생가족의 만남을 위한 라운드 테이블: “입양의 정치학”</div>
                                </dd>
                            </dl>
                        </div>

                        <div class="sec">
                            <dl>
                                <dt>2015</dt>
                                <dd>
                                    <span>04~11</span>
                                    <div>입양인들과 함께 하는 문화프로젝트 운영</div>
                                </dd>
                                <dd>
                                    <span>05</span>
                                    <div>제5회 싱글맘의 날 국제컨퍼런스 공동주최</div>
                                </dd>
                                <dd>
                                    <span>05</span>
                                    <div>책 “한국해외입양-초국가적 아동양육 실험과 분투하는 입양서사 50년” 발간</div>
                                </dd>
                            </dl>
                        </div>

                        <div class="sec">
                            <dl>
                                <dt>2014</dt>
                                <dd>
                                    <span>02</span>
                                    <div>미국 입양아동 현수(Hyunsu O’callaghan) 추모식</div>
                                </dd>
                                <dd>
                                    <span>05</span>
                                    <div>제4회 싱글맘의 날 국제 컨퍼런스 공동주최</div>
                                </dd>
                                <dd>
                                    <span>06</span>
                                    <div>책 “구원과 밀매“ 발간</div>
                                </dd>
                                <dd>
                                    <span>10</span>
                                    <div>입양인들과 함께하는 전라남도 역사기행</div>
                                </dd>
                            </dl>
                        </div>

                        <div class="sec">
                            <dl>
                                <dt>2013</dt>
                                <dd>
                                    <span>05</span>
                                    <div>제3회 싱글맘의 날 국제 컨퍼런스 및 인간도서관</div>
                                </dd>
                                <dd>
                                    <span>05</span>
                                    <div>“인종간 입양의 사회학” 문화체육관광부 우수학술도서 선정</div>
                                </dd>
                                <dd>
                                    <span>05</span>
                                    <div>책 “원초적 상처“, “입양 치유“ 발간</div>
                                </dd>
                                <dd>
                                    <span>07</span>
                                    <div>뿌리의집 창립 10주년 행사</div>
                                </dd>
                            </dl>
                        </div>

                        <div class="sec">
                            <dl>
                                <dt>2012</dt>
                                <dd>
                                    <span>04</span>
                                    <div>출판사 “뿌리의집” 설립</div>
                                </dd>
                                <dd>
                                    <span>05</span>
                                    <div>“인종간 입양의 사회학” 출판 기념회</div>
                                </dd>
                                <dd>
                                    <span>05</span>
                                    <div>제2회 싱글맘의 날 기념 국제컨퍼런스 공동주최</div>
                                </dd>
                                <dd>
                                    <span>10</span>
                                    <div>독일 입양인 미리암 아커만(Miriam Akkermann)의 플룻 연주 하우스 콘서트</div>
                                </dd>
                                <dd>
                                    <span>12</span>
                                    <div>제1회 연대의 날(Solidarity Day) 기념 만찬(~2018년까지 매년 개최 후 종결)</div>
                                </dd>
                            </dl>
                        </div>

                        <div class="sec">
                            <dl>
                                <dt>2011</dt>
                                <dd>
                                    <span>05</span>
                                    <div>제1회 싱글맘의 날 기념 국제컨퍼런스 공동주최</div>
                                </dd>
                                <dd>
                                    <span>06</span>
                                    <div>입양특례법 전부 개정안 국회 통과</div>
                                </dd>
                                <dd>
                                    <span>10</span>
                                    <div>추방입양인 자활기금 조성을 위한 팟럭 디너 및 입찰식 경매 행사</div>
                                </dd>
                            </dl>
                        </div>

                        <div class="sec">
                            <dl>
                                <dt>2010</dt>
                                <dd>
                                    <span>05</span>
                                    <div>입양특례법 개정 촉구 시민사회대회 개최 및 뿌리의집 제작 다큐멘터리 ‘회복의 길’(태미 추 감독/ 후에 ‘나를 닮은 얼굴’로 개봉) 상영회</div>
                                </dd>
                                <dd>
                                    <span>05</span>
                                    <div>국제입양학자 데이비드 스몰린(David Smolin) 박사 초청 강연회 “아동인신매매와 국가 간 입양에 관한 헤이그국제아동입양협약 및 한국의 입양제도” 공동주최(여성정책연구원)</div>
                                </dd>
                                <dd>
                                    <span>05</span>
                                    <div>한국세계한인변호사회와 데이비드 스몰린 박사 간담회 공동주최</div>
                                </dd>
                                <dd>
                                    <span>05</span>
                                    <div>입양특례법 전부 개정안 국회 발의</div>
                                </dd>
                                <dd>
                                    <span>07</span>
                                    <div>프랑스 입양인 최석고의 소설 “고려를 기억하며” 출판기념회</div>
                                </dd>
                                <dd>
                                    <span>08</span>
                                    <div>벨기에 입양인 만화작가 전정식(Jung Henen) 초청 작가와의 대화</div>
                                </dd>
                            </dl>
                        </div>

                        <div class="sec">
                            <dl>
                                <dt>2009</dt>
                                <dd>
                                    <span>03</span>
                                    <div>스웨덴 입양인 수잔 브링크(Susan Brink) 추모식</div>
                                </dd>
                                <dd>
                                    <span>05</span>
                                    <div>제4회 입양의 날 기념 독일 입양인 포토그래퍼 김 스페를링(Kim Sperling) 외 3인 사진전 및 비디오아트 전시회 ‘이산과 귀환의 틈새’ 개최</div>
                                </dd>
                                <dd>
                                    <span>07</span>
                                    <div>개원6주년 기념행사</div>
                                </dd>
                            </dl>
                        </div>

                        <div class="sec">
                            <dl>
                                <dt>2008</dt>
                                <dd>
                                    <span>04</span>
                                    <div>귀환입양인 직업교육 프로그램 “흙별날 돌아와살기 배움터” 운영</div>
                                </dd>
                                <dd>
                                    <span>05</span>
                                    <div>미국 입양인 시인(캘리포니아주 프레즈노대학 교수) 리 헤릭(Lee Herrick) 영시낭독회</div>
                                </dd>
                                <dd>
                                    <span>06</span>
                                    <div>입양인 지혜 만델슨(Ji-Hye Mandelson) 추모식</div>
                                </dd>
                                <dd>
                                    <span>07</span>
                                    <div>개원5주년 기념식 및 “해외입양과 한국민족주의“ 출판축하회</div>
                                </dd>
                                <dd>
                                    <span>08</span>
                                    <div>미국 입양인 시인(미네소타주 세인트 올라프대학 교수) 제니퍼 권 돕스(Jenniffer Kwon Dobbs) 영시낭독회</div>
                                </dd>
                            </dl>
                        </div>

                        <div class="sec">
                            <dl>
                                <dt>2007</dt>
                                <dd>
                                    <span>02</span>
                                    <div>입양인들과 함께 하는 설날잔치</div>
                                </dd>
                                <dd>
                                    <span>04</span>
                                    <div>귀환입양인 직업교육 프로그램 “흙별날 돌아와살기 배움터” 운영</div>
                                </dd>
                                <dd>
                                    <span>05</span>
                                    <div>제2회 입양의 날 기념 입양인과 입양가족 대화모임 가든파티</div>
                                </dd>
                                <dd>
                                    <span>07</span>
                                    <div>개원 4주년 기념행사</div>
                                </dd>
                                <dd>
                                    <span>09</span>
                                    <div>입양인들과 함께 하는 추석잔치</div>
                                </dd>
                                <dd>
                                    <span>10</span>
                                    <div>입양인들과 함께 하는 가을밤 가든 콘서트</div>
                                </dd>
                                <dd>
                                    <span>11</span>
                                    <div>추수감사절 디너 파티</div>
                                </dd>
                            </dl>
                        </div>

                        <div class="sec">
                            <dl>
                                <dt>2006</dt>
                                <dd>
                                    <span>01</span>
                                    <div>입양인들과 함께 하는 설날잔치</div>
                                </dd>
                                <dd>
                                    <span>04</span>
                                    <div>귀환입양인 직업교육 프로그램 “흙별날 돌아와살기 배움터” 운영</div>
                                </dd>
                                <dd>
                                    <span>05</span>
                                    <div>제1회 입양의 날 기념 공개토론회(주제: 가부장제 해외입양 다시 생각한다/ 장소: 국가인권위 배움터)</div>
                                </dd>
                                <dd>
                                    <span>07</span>
                                    <div>개원3주년 기념식 및 미국입양인 태미 추(Tammy Chu)  감독의 영화 ‘고향을 찾아서’ 상영회</div>
                                </dd>
                                <dd>
                                    <span>10</span>
                                    <div>입양인들과 함께 하는 추석잔치</div>
                                </dd>
                                <dd>
                                    <span>11</span>
                                    <div>추수감사절 디너 파티</div>
                                </dd>
                            </dl>
                        </div>

                        <div class="sec">
                            <dl>
                                <dt>2005</dt>
                                <dd>
                                    <span>02</span>
                                    <div>입양인과 함께 하는 설날잔치[2005부터 매년 설날 당일에 개최]</div>
                                </dd>
                                <dd>
                                    <span>04</span>
                                    <div>귀환입양인 직업교육 프로그램 “흙별날 돌아와살기 배움터” 운영(2005년-2008년)</div>
                                </dd>
                                <dd>
                                    <span>09</span>
                                    <div>입양인들과 함께 하는 추석잔치</div>
                                </dd>
                                <dd>
                                    <span>09</span>
                                    <div>친생모에 관한 다큐멘터리 기획 및 제작 시작(주제: 친생모의 목소리/ 감독 위촉: 태미 추)</div>
                                </dd>
                                <dd>
                                    <span>11</span>
                                    <div>추수감사절 디너 파티(~2011년까지 매년 시행, 2012년부터는 연대의 날 기념행사로 변경)</div>
                                </dd>
                            </dl>
                        </div>

                        <div class="sec">
                            <dl>
                                <dt>2004</dt>
                                <dd>
                                    <span>02</span>
                                    <div>김도현목사 공정애사모 뿌리의집 운영책임자로 부임</div>
                                </dd>
                                <dd>
                                    <span>07</span>
                                    <div>뿌리의집 개원 1주년 기념식</div>
                                </dd>
                                <dd>
                                    <span>07</span>
                                    <div>벨기에 입양인 화가 조미희 작품전</div>
                                </dd>
                                <dd>
                                    <span>09</span>
                                    <div>입양인과 함께 하는 추석잔치</div>
                                </dd>
                                <dd>
                                    <span>09</span>
                                    <div>미국 입양인 스콧 킴 캘러헌(Scott Kim Callaghan) 추모식</div>
                                </dd>
                                <dd>
                                    <span>08~11</span>
                                    <div>명사초대의 밤(초대인사: 서경석목사, 신혜수교수, 성우 배한성)</div>
                                </dd>
                                <dd>
                                    <span>12</span>
                                    <div>미국 입양인 작가 제인 정 트렌카 “피의 언어” 낭독회</div>
                                </dd>
                            </dl>
                        </div>

                        <div class="sec">
                            <dl>
                                <dt>2003</dt>
                                <dd>
                                    <span>04</span>
                                    <div>비영리민간단체 등록(서울시국제협력과 제495호)</div>
                                </dd>
                                <dd>
                                    <span>07</span>
                                    <div>해외입양인게스트하우스 뿌리의집 개원</div>
                                </dd>
                                <dd>
                                    <span>09</span>
                                    <div>입양인 초청 추석잔치[2003년부터 매년 추석 당일에 추석잔치 개최]</div>
                                </dd>
                            </dl>
                        </div>

                        <div class="sec">
                            <dl>
                                <dt>2002</dt>
                                <dd>
                                    <span>02</span>
                                    <div>해외입양인센터 창립총회[공동대표: 김길자(경인여자대학 설립자), 서경석(우리민족서로돕기운동 집행위원장)]</div>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

</html>