<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<div layout:fragment="content" style="margin : 2.0em">
    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">
            <div>
                <h2>함께하는 사람들</h2>
            </div>
            <p><h5>사단법인 뿌리의집 이사회</h5></p>
            <p>
                이사장 김길자 (경인여자대학교 명예총장)<br/>
                이사 서경석 (선진화시민행동 공동대표)<br/>
                이사 장만순 (전 제네바대사)<br/>
                이사 함순효 (컨퍼런스하우스 달개비 대표)<br/>
                이사 김도현 (목사. 뿌리의집 대표)<br/>
                감사 이성엽 (세무사. 우리회계법인)<br/>
            </p>
            <p>
                <b>사단법인 뿌리의집 입양인자문위원회</b>
            </p>

            <p>
                아만다 은하 로벨 (Amanda Eunha Lovell 미국) - 아티스트<br/>
                분영 한 (Boonyoung Han 덴마크) -서울대 박사과정, Korean Adoptee Adoption Research Network 코디네이터<br/>
                로렌 맥컬로프 (Lauren McCullough 미국) - English 에디터<br/>
                제니 나 (Jenny Na 미국) - English 에디터<br/>
                크리스 박 (Kris Pak 미국) - 서경대학교 교수(영어)<br/>
                테미 코 로빈슨 (Tammy ko Robinson 미국) - 한양대학교 교수(미술)<br/>
            </p>
            <b>사무국</b>
            <p>
                대표전화 02-3210-2451<br/>
                팩스 02-3210-2453<br/>
            </p>
            <p>
                대표<br/>
                김도현 목사  master@koroot.org<br/>
            </p>
            <p>
                게스트하우스 원장<br/>
                공정애  reservation@koroot.org<br/>
            </p>
            <p>
                기획실<br/>
                황선미 | 업무총괄, 연구출판  plan@koroot.org<br/>
                최진경 | 국제협력, 출판  program@koroot.org<br/>
            </p>
            <p>
                권리옹호팀<br/>
                김창선 | 연대활동, 게스트하우스  staff@koroot.org<br/>
            </p>
            <p>
                운영지원팀<br/>
                박창우 | 회계, 이사회, 대외보고  admin@koroot.org<br/>
            </p>
            <p>
                주요연락처<br/>
                게스트하우스 예약(입양인, 입양인가족) reservation@koroot.org<br/>
                권리옹호활동 staff@koroot.org<br/>
                사업일반, 후원 및 자원활동 문의 admin@koroot.org<br/>
            </p>

        </div>
    </section>
</div>

</html>