<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:fragment="emptyConfigFragment">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>뿌리의집</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Vendor CSS Files -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/sweetalert2/css/sweetalert2.min.css" rel="stylesheet">
    <link href="/vendor/ladda/css/ladda.min.css" rel="stylesheet">
    <link href="/vendor/ladda/css/ladda-themeless.min.css" rel="stylesheet">


    <!-- Vendor JS Files -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/vendor/sweetalert2/js/sweetalert2.all.min.js"></script>
    <script src="/vendor/ladda/js/spin.min.js"></script>
    <script src="/vendor/ladda/js/ladda.min.js"></script>
    <script src="/vendor/ladda/js/ladda.jquery.min.js"></script>

    <script src="/js/comm/commAjax.js"></script>
    <script src="/js/comm/common.js"></script>

</head>

</html>
