<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- ======= Footer ======= -->
<footer th:fragment="engFooterFragment" id="engFooter">

    <hr id="footer-divider" style="border-bottom: 1px solid #eee;" width="100%" size="1">
    <div class="footer-top">
        <div class="container">

            <div class="row">

                <div class="col-lg-4 col-md-6 footer-contact">
                    <p>
                        <a href="http://www.korootgh.com" target="_blank">korootgh.com</a> <br/>
                        KoRoot (110-030) 125-10, Jahamun-ro, Jongno-gu, Seoul <br/>
                        <strong>Tel:</strong> 82+2-3210-2451<br/>
                        <strong>Fax:</strong> 82+2-3210-2453<br/>
                        <strong>Email:</strong> staff@koroot.org<br/>
                    </p>
                </div>

            </div>
        </div>
    </div>
    <div class="container py-4">
        <div class="copyright">
            &copy; <strong><span>KoRoot</span></strong>. All rights reserved.
        </div>
    </div>
</footer><!-- End Footer -->

</html>