<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- ======= Footer ======= -->
<footer th:fragment="footerFragment" id="footer">

    <hr id="footer-divider" style="border-bottom: 1px solid #eee;" width="100%" size="1">
    <div class="footer-top">
        <div class="container">

            <div class="row">

                <div class="col-lg-4 col-md-6 footer-contact">
                    <p>
                        (03031) 서울 종로구 자하문로 125-10 사단법인 뿌리의집 <br>
                        <strong>전화:</strong> 02-3210-2451<br>
                        <strong>팩스:</strong> 02-3210-2453<br>
                        <strong>이메일:</strong> admin@koroot.org<br>
                    </p>
                </div>

                <div class="col-lg-4 col-md-6 footer-links">
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="/intro/directions">문의하기&찾아오시는길</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">이전 홈페이지 바로가기</a></li>
                    </ul>
                    <div class="social-links mt-3">
                        <a href="https://www.facebook.com/Koroot" class="facebook"><i class="bi bi-facebook"></i></a>
                        <a href="https://www.facebook.com/koroot.ngo" class="facebook"><i class="bi bi-facebook"></i></a>
                        <a href="https://www.youtube.com/channel/UCZ-74eQxUA349wbOBV4YjNw" class="youtube"><i class="bi bi-youtube"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 footer-contact">
                    <p>뿌리의집 게스트하우스</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="http://www.korootgh.com" target="_blank"><img src="/img/intro/intro11.jpg" /></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container py-4">
        <div class="copyright">
            &copy; <strong><span>KoRoot</span></strong>. All rights reserved.
        </div>
    </div>
</footer><!-- End Footer -->

</html>