<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- ======= Header ======= -->
<header th:fragment="headerFragment" id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

<!--        <h1 class="logo"><a href="/">뿌리의집</a></h1>-->
        <!-- Uncomment below if you prefer to us집e an image logo -->
         <a href="/main" class="logo"><img src="/img/logo.jpg" alt="" style="width: 4.8em; max-height: 5.0em;"></a>

        <nav id="navbar" class="navbar">
            <ul>
                <li class="dropdown"><a href="#"><span>단체소개</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="/intro/greetings">인사말</a></li>
                        <li><a href="/intro/establishment">설립목적</a></li>
                        <li><a href="/intro/history">연혁</a></li>
                        <li><a href="/intro/people">함께하는 사람들</a></li>
                        <li><a href="/board/list?type=ANNUAL">연차보고서</a></li>
                        <li><a href="/board/list?type=ACCOUNTING">투명한재정,회계보고</a></li>
                        <li><a href="/intro/directions">찾아오시는길</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#"><span>활동</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="/activity/business-direction">사업방향</a></li>
                        <li class="dropdown"><a href="#"><span>진행중인 주요사업</span> <i class="bi bi-chevron-down"></i></a>
                            <ul>
                                <li><a href="/activity/guest-house">게스트하우스</a></li>
                                <li><a href="/activity/life-support">모국생활지원</a></li>
                                <li><a href="/activity/advocacy">권익옹호사업</a></li>
                                <li><a href="/activity/research">연구사업</a></li>
                            </ul>
                        </li>
                        <li><a href="/activity/archive">지난사업아카이브</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#"><span>출판</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="/publishing/books">발간도서</a></li>
                        <li><a href="/publishing/book-story">책 이야기</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#"><span>후원참여</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="/support/guide">후원안내</a></li>
                        <li><a href="/board/list?type=SUPPORT_STATUS">후원현황</a></li>
                        <li><a href="/support/volunteer">자원활동하기</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#"><span>커뮤니케이션</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="/board/list?type=NOTICE">공지</a></li>
                        <li><a href="/board/list?type=PRESS">언론보도</a></li>
                        <li><a href="/board/list?type=VOICE">해외입양인 목소리</a></li>
                        <li><a href="/board/list?type=STORY">김도현 목사의 해외입양 이야기</a></li>
                        <li><a href="/intro/directions">문의하기</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#"><span>자료실</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="/resources/publication">발간자료</a></li>
                        <li><a href="/resources/video">영상자료</a></li>
                        <li><a href="/resources/community">해외입양인 커뮤니티</a></li>
                    </ul>
                </li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->

</html>