<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/engDefault">

<div layout:fragment="content" style="margin : 2.0em">
    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">
            <div>
                <h2>해외입양인의 권익옹호를 위한 활동을 하는 뿌리의집에 후원자로 함께해주세요!</h2>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <br/>
                    <p>
                    <h3>후원안내</h3>
                    </p>

                    <p>
                        사단법인 뿌리의집은 해외입양인의 모국방문과 가족찾기를 돕는 단체이며, 해외입양인들의 권리옹호와 해외입양에 대한 한국사회의 근원적 변화를 견인하는 단체입니다. 이 사업의 성과는 해외입양인 개개인들과 공동체, 나아가 한국사회의 입양에 관한 이해의 지평에 근원적인 변화를 가져올 것이며, 한국사회가 이 땅에 도착한 모든 어린이들을 환대하는 사회, 더 이상 해외입양으로 고통 받는 입양인이 없는 사회로 이루어가게 될 것입니다.
                    </p>

                    <p>
                        뿌리의집은 기획재정부가 지정한 기부금지정대상단체로 법인세법 제24조 및 소득세법 제34조에 근거하여 연말정산 시 세액공제혜택을 받으실 수 있습니다.
                    </p><br/>

                    <p style="text-align: center;">
                        <a href="https://webcm30.webcm.co.kr/system/member_signup/join_option_select_03.html?id=koroot0" target="_blank">
                            <button id="supportApplication" style="background-color: #3b8540;width: 13em;height: 4em;color: white;font-size:  larger;">후원 신청하기</button></a>
                    </p><br/>

                    <p>
                        | 납부안내 |<br/>
                        -CMS자동납부 시 후원금은 매월 24일(주말 또는 공휴일인 경우 전 영업일)에 계좌에서 출금됩니다.<br/>
                        -카드 납부시 2.8% 수수료가 공제된 후 입금됩니다.<br/>
                    </p><br/>

                    <p>
                        | 계좌안내 | <br/>
                        -개별 입금 및 은행 자동이체 등록 : 직접 입금 및 자동이체 등록 시 아래 후원계좌를 참고해주십시오.<br/>
                        신한은행 : 100-019-570796 예금주 : 뿌리의집<br/>
                        국민은행 : 343601-04-006975 예금주 : 뿌리의집<br/>
                    </p><br/>

                    <p>
                        | 후원문의 |<br/>
                        전화 02-3210-2451  이메일 admin@koroot.org<br/>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <th:block layout:fragment="script">
        <script>
            $(function() {
                $("#supportApplication").on({
                    click:function(){
                        window.open('https://webcm30.webcm.co.kr/system/member_signup/join_option_select_03.html?id=koroot0');
                    }
                });
            })
        </script>
    </th:block>

</div>

</html>