<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<div layout:fragment="content">

    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-12">
                    <h4><strong>해외입양인의 권리옹호활동을 하는 뿌리의집에 자원활동가가 되어주세요!</strong></h4>
                    <br/>
                    <h6>
                        뿌리의집은 많은 자원활동가들의 지지와 도움으로 성장해 왔습니다.
                        소중한 시간과 재능을 나눠주실 분들을 기다리고 있습니다.
                        자원활동을 통해 모국을 방문한 해외입양인들이 필요로 하는 것을 도울 수 있고,
                        다른 문화와 삶의 궤적을 지닌 해외입양인들과의 만남을 통해 다름에 대한 이해의 폭을 넓힐 수 있습니다.
                        또한 입양인 인권 향상 및입양제도와 정책 변화에 기여할 수 있습니다.
                        여러분의 작은 활동이 해외입양인들에게 큰 격려와 도움이 될 것입니다.
                        <br/><br/><br/>
                    </h6>
                </div>
                <div style="text-align: center">
                    <button id="sendVolunteer" class="ladda-button" style="width: 15em;">
                        <span class="ladda-label">자원활동 신청하기</span>
                    </button>
                </div>
            </div>
        </div>
    </section>

    <th:block layout:fragment="script">
        <style type="text/css">
            .row {
                padding-bottom: 10px;
            }
        </style>
    </th:block>

    <th:block layout:fragment="script">
        <script>
            $(function() {
                $("#sendVolunteer").on({
                    click:function(){
                        window.open('https://forms.gle/rCLEyE7ePj8d6yqG9');
                    }
                });
            })
        </script>
    </th:block>
</div>

</html>