<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<div layout:fragment="content">

    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">
            자원활동하기 - 작업중
        </div>
    </section>

</div>

<!--<div layout:fragment="content">-->

<!--    <section id="contact" class="contact">-->
<!--        <div class="container" data-aos="fade-up">-->

<!--            <div class="row">-->
<!--                <div class="col-lg-12">-->
<!--                    <h3><span>해외입양인의 권익옹호활동을 하는 뿌리의집에 자원활동가가 되어주세요!</span></h3>-->
<!--                    <br/>-->
<!--                    <h6>-->
<!--                        뿌리의집은 많은 자원활동가들의 지지와 도움으로 성장해 왔습니다.-->
<!--                        소중한 시간과 재능을 나눠주실 분들을 기다리고 있습니다.-->
<!--                        자원활동을 통해 모국을 방문한 해외입양인들이 필요로 하는 것을 도울 수 있고,-->
<!--                        다른 문화와 삶의 궤적을 지닌 해외입양인들과의 만남을 통해 다름에 대한 이해의 폭을 넓힐 수 있습니다.-->
<!--                        또한 입양인 인권 향상 및입양제도와 정책 변화에 기여할 수 있습니다.-->
<!--                        여러분의 작은 활동이 해외입양인들에게 큰 격려와 도움이 될 것입니다.-->
<!--                        <br/><br/><br/>-->
<!--                    </h6>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="col-lg-12">-->
<!--                <form method="post" role="form" class="">-->
<!--                    <div class="row">-->
<!--                        <div class="col form-group col-lg-2">-->
<!--                            이름-->
<!--                        </div>-->
<!--                        <div class="col form-group col-lg-6">-->
<!--                            <input type="text" class="form-control" id="userName" placeholder="이름" required>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="row">-->
<!--                        <div class="col form-group col-lg-2">-->
<!--                            출생년도-->
<!--                        </div>-->
<!--                        <div class="col form-group col-lg-6">-->
<!--                            <input type="number" class="form-control" id="birth" placeholder="1990" required>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="row">-->
<!--                        <div class="col form-group col-lg-2">-->
<!--                            성별-->
<!--                        </div>-->
<!--                        <div class="col form-group col-lg-6">-->
<!--                            <div class="form-check form-check-inline">-->
<!--                                <input class="form-check-input" type="radio" name="gender" id="gender1" value="option1">-->
<!--                                <label class="form-check-label" for="gender1">여자</label>-->
<!--                            </div>-->
<!--                            <div class="form-check form-check-inline">-->
<!--                                <input class="form-check-input" type="radio" name="gender" id="gender2" value="option2">-->
<!--                                <label class="form-check-label" for="gender2">남자</label>-->
<!--                            </div>-->
<!--                            <div class="form-check form-check-inline">-->
<!--                                <input class="form-check-input" type="radio" name="gender" id="gender3" value="option3">-->
<!--                                <label class="form-check-label" for="gender3">기타</label>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="row">-->
<!--                        <div class="col form-group col-lg-2">-->
<!--                            전화번호-->
<!--                        </div>-->
<!--                        <div class="col form-group col-lg-6">-->
<!--                            <input type="number" class="form-control" id="phone" placeholder="전화번호" required>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="row">-->
<!--                        <div class="col form-group col-lg-2">-->
<!--                            E-mail-->
<!--                        </div>-->
<!--                        <div class="col form-group col-lg-6">-->
<!--                            <input type="email" class="form-control" id="email" placeholder="이메일" required>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="row">-->
<!--                        <div class="col form-group col-lg-2">-->
<!--                            활동가능분야-->
<!--                        </div>-->
<!--                        <div class="col form-group col-lg-6">-->
<!--                            <div class="form-check form-check-inline">-->
<!--                                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">-->
<!--                                <label class="form-check-label" for="inlineCheckbox1">리셉션 업무</label>-->
<!--                            </div>-->
<!--                            <div class="form-check form-check-inline">-->
<!--                                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">-->
<!--                                <label class="form-check-label" for="inlineCheckbox2">통역</label>-->
<!--                            </div>-->
<!--                            <div class="form-check form-check-inline">-->
<!--                                <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">-->
<!--                                <label class="form-check-label" for="inlineCheckbox3">번역</label>-->
<!--                            </div>-->
<!--                            <div class="form-check form-check-inline">-->
<!--                                <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option3">-->
<!--                                <label class="form-check-label" for="inlineCheckbox4">행사 보조</label>-->
<!--                            </div>-->
<!--                            <div class="form-check form-check-inline">-->
<!--                                <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="option3">-->
<!--                                <label class="form-check-label" for="inlineCheckbox5">웹프로그래밍/컴퓨터관리</label>-->
<!--                            </div>-->
<!--                            <div class="form-check form-check-inline">-->
<!--                                <input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="option3">-->
<!--                                <label class="form-check-label" for="inlineCheckbox5">포토샵/일러스트레이터</label>-->
<!--                            </div>-->
<!--                            <div class="form-check form-check-inline">-->
<!--                                <input class="form-check-input" type="checkbox" id="inlineCheckbox7" value="option3">-->
<!--                                <label class="form-check-label" for="inlineCheckbox5">행사 사진촬영</label>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="text-center">-->
<!--                        <button id="sendMail" class="ladda-button" type="submit" data-style="contract" style="width: 15em;">-->
<!--                            <span class="ladda-label">등록</span>-->
<!--                        </button>-->
<!--                    </div>-->

<!--                </form>-->
<!--            </div>-->

<!--        </div>-->
<!--    </section>-->

<!--    <th:block layout:fragment="script">-->
<!--        <style type="text/css">-->
<!--            .row {-->
<!--                padding-bottom: 10px;-->
<!--            }-->
<!--        </style>-->
<!--    </th:block>-->

<!--</div>-->

</html>