<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<div layout:fragment="content">

    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">
            <h2>권인옹호사업</h2>
            <p>
                <h5 style="margin-left: 50px;"> <span>&gt;&gt;입양 진실의 날(Adoption Truths Day)</span></h5>
            </p>
            <p>
                제1회 입양 진실의 날 국제컨퍼런스<br/>
                “입양 정의를 말한다: 기록과 정체성” Adoption Justice: Issues of Records and Identity<br/>
            </p>
            <p>
                국내외입양인과 친생가족, 미혼모단체 등 입양 진실의 날 연대단체는 지난 5월 11일을 입양 진실의 날(Adoption Truths Day)로 선언하고, [제1회 입양 진실의 날 국제 컨퍼런스-입양 정의를 말한다: 기록과 정체성]을 개최하였다. 이 행사는 코로나19로 인해 줌(ZOOM) 웨비나와 유튜브 라이브 스트리밍으로 전환하여 모두 온라인으로 진행되었다.
            </p>
            <p>
                국가가 2006년에 제정한 ‘입양의 날’은 입양삼자(입양인, 입양부모, 친생가족(미혼모))의 삶의 이야기가 골고루 담겨야만 한다. 그러나 ‘입양의 날’에 친생가족과 입양인의 목소리를 낼 공간은 없었다. 미혼모, 한부모, 해외입양인 및 권리옹호단체들은 이러한 불균형을 바로잡기 위하여 지난 2011년부터 9년 동안 ‘싱글맘의 날’을 기념해왔다. 마침내 정부는 2019년부터 매년 5월 10일을 ‘아동을 원가정에서 양육하는 것이 입양보다 우선’이라는 정책적 의지를 담아 ‘한부모가족의 날’로 지정했다. 연대단체들은 이를 ‘싱글맘의 날’ 운동의 성과로 이해하고, 올해부터는 매년 5월 11일을 ‘입양 진실의 날’로 재명명하여, 입양삼자의 또 다른 핵심주체인 입양인들의 삶에 깃든 목소리와 진실을 드러내기 위하여 국제컨퍼런스와 캠페인을 펼쳤다.<br/>
            </p>

            <p>
                [국제컨퍼런스 개요]<br/>
                • 행사명 : 입양 진실의 날 국제컨퍼런스<br/>
                • 주제: “입양 정의를 말한다: 기록과 정체성”<br/>
                <p>Adoption Justice: Issues of Records and Identity<br/></p>
                • 일시: 2020년 9월 9일(수요일) 13:00~17:20<br/>
                • 장소: 뿌리의집(KoRoot)<br/>
                • 진행: 온라인(줌 웨비나, 입양진실의날 유튜브)<br/>
            </p>

            <table class="table table-bordered">
                <tbody>
                <tr>
                    <td class="w-auto">
                        <p style="text-align: center;"><span> &lt;&lt;프로그램&gt;&gt; </span></p>
                        <p>
                            <p>
                                기조발제 - 나의 모국, 한국에게<br/>
                                키무라 별-나탈리 르무안 (아티스트, 액티비스트, 아카이비스트/ 해외입양인-벨기에/캐나다)<br/>
                            </p>
                            <p>
                                1부: 기록과 정체성을 말하다<br/>
                                1. “종이에 담은 삶”: 기록 보존에서 정의로 - 레베카 조 킨니 (교수/ 해외입양인-미국)<br/>
                                2. 시스템의 부정의: 뒤바뀐 정체성 - 로빈 조이 팍 (결혼 및 가족치료 전문가/ 해외입양인-미국)<br/>
                                3. 도둑맞은 정체성, 잃어버린 뿌리<br/>
                                - 재형 킴 스타자허 (스위스한인입양인협회 DONGARI 회장/ 해외입양인 - 스위스)<br/>
                                4. 그들은 우리의 어머니들에게 거짓말했다 - 매튜 브레시 (셰프/ 해외입양인-미국)<br/>
                                5. 입양정보의 부재가 개인의 삶에 미치는 영향 - 민영창 (국내입양인연대 대표/ 국내입양인)<br/>
                            </p>
                            <p>
                                2부: 입양에 대한 국가의 역할을 말하다<br/>
                                1. 정체성: 뿌리와 유전적 자기기록에 대한 알 권리?<br/>
                                - 알리스 다이버 (영국 리버풀 존 무어스 대학교 법학 교수)<br/>
                                2. 아동 최상의 이익을 위한 입양제도의 현황과 과제<br/>
                                - 강정은 (사단법인 두루 변호사)<br/>
                            </p>
                             <p>
                                3부: 종합토론<br/>
                                좌장: 황필규 (공익인권법재단 공감 변호사)<br/>
                                패널: 헬레 타룹 (325Kamra 한국지사 대표/ 해외입양인 - 덴마크)<br/>
                                데이브 리프 (G.O.A.’L 친가족찾기 멘토/ 해외입양인 - 미국)<br/>
                                조혜령 (보건복지부 아동정책과 사무관)<br/>
                                로스 오크 (국경너머인권 총괄매니저/ 해외입양인 - 미국)<br/>
                                김익한 (명지대 기록정보학과전문대학원 교수)<br/>
                            </p>
                        </p>
                    </td>
                </tr>
                </tbody>
            </table>

            <p>
                [캠페인 개요]<br/>
                • 일시 : 2020년 9월 11일~20일<br/>
                • 방법 : 제20회 여성마라톤 with 랜선스포츠<br/>
            </p>
            <p>
                <p>
                    [주체기관]<br/>
                    • 주최 : 국회의원 정춘숙・최종윤・서영교・강병원, 325KAMRA, 진실의자리TheRUTHtable, (사)한국미혼모가족협회, 변화된미래를만드는미혼모협회인트리, 미혼모협회아임맘, (사)한국미혼모지원네트워크, (사)뿌리의집<br/>
                    • 주관 : (사)뿌리의집, (사)한국미혼모가족협회<br/>
                    • 네트워크 : KARMA, Change, 국내입양인연대, 친생가족모임민들레회, 기독여민회<br/>
                    • 후원 : Family for Every Child, 에퀴코리아<br/>
                </p>
                <p>
                    입양진실의 날 유튜브 링크 &gt;&gt;<br/>
                    <a href="https://www.youtube.com/channel/UCXrN2xYsifkgz0GIMwJcXeg?view_as=subscriber" target="_blank">https://www.youtube.com/channel/UCXrN2xYsifkgz0GIMwJcXeg?view_as=subscriber</a><br/>
                </p>
            </p>

            <p><h5 style="margin-left: 50px;"><span>&gt;&gt;제도개선 및 연대활동</span></h5><p>
            <p style="margin-left: 70px;">
                1.	진행중인 연대활동
            </p>

            <p>□ 보편적 출생신고 네트워크</p>
            <p>
                <ul>
                    <li>소개 : 국내 보편적 출생신고제도 도입을 위해 보편적 출생신고의 필요성에 대한 대중의 인식제고 및 보편적 출생신고제 입법 및 제도 마련 촉구 활동을 하는 연대체</li>
                    <li>주요활동</li>
                    <li style="list-style-type : none">
                        <ul>
                            <li>유엔의 두 기구( 유엔아동권리위원회와 유엔인권이사회)들은 한국 정부에게 난민아동들과 불법체류외국인아동은 물론 출생신고에 의해서 종종 누락되거나 왜곡되어 등재되는 아동의 출생등록에 관한 법제를 혁신하는 일을 심각하게 고려할 것을 권고함</li>
                            <li>2015년 4월 첫 회의를 시작으로 6월에 출생등록제도의 문제점과 대안을 주제로 내부 워크샵, 9월에 113차 ICCPR(시민적 및 정치적 권리에 관한 국제규약) 실무그룹회의에 한국의 출생등록제에 대한 보고서 제출함. 19대 국회 당시 의료기관, 조산원 등에서 아동의 출생사실을 지자체장에게 통보하도록 하는 조항을 신설한 가족관계의 등록 등에 관한 법률 개정안(신경림 의원 발의) 추진.</li>
                            <li>2016년에는 상반기에 보편적 출생신고 인식개선을 위한 캠페인, 하반기에 가족관계등록법안개정추진안을 진행. 영상제작팀과 사례/정책브리프 팀을 구성, 영상팀에서는 동영상 및 웹사이트를 기획, 제작(6월 16일)하여 캠페인을 시작. 사례/정책 브리프팀은 가족관계등록법안을 작성 후 백혜련 의원실과 간담회(7월 5일), 출생신고 제도 개선을 위한 비공개 정부 간담회(9월 8일), 국가인권위와 함께 아동의 출생신고 권리보장 방안모색 토론회(10월 25일) 개최.</li>
                            <li>2017년에는 7월에 ‘보편적출생신고법률지원단’발족을, 8월에 카카오같이가치캠페인을 하여 참여기부 11,000명, 직접기부 500여명 캠페인에 동참, 11월에 보편적 출생신고이슈브리프 발간, ‘출생등록에서배제된아이들: 보편적출생등록제도도입을위한토론회’(11월 27일) 국가인권위원회, 권미혁*백혜련의원실과공동주최.</li>
                            <li>2018년에는 보편적 출생신고 네트워크 공식 SNS 구축(페이스북, 유튜브), 홈페이지 업데이트 후 법개정을 위한 서명활동 시작(10월 18일), 가족관계등록법일부개정안(원혜영의원 대표발의) 지지 성명서 발표(10월 29일), ‘아임쏘리’ 캠페인 시작</li>
                            <li>2019년에는 5월 정부의 포용국가 아동정책에 보편적 출생신고를 포함해달라는 보도자료를 냈고 가버나움 상영회(지지서명 53명)를 국회(6월 27일), 가버나움 해설영상 제작 및 오프라인 상영회(12월 18일) 개최, 2019 대한민국 인권상 수상(12월 10일)함.</li>
                            <li>2020년에는 출생통보제 도입촉구 성명서 제출(2월 19일, 5월 14일), 인종차별철폐위원회 이행 정부보고서 관련, 출생신고 내용에 대한 반박 보고서 제출(2월 23일),  보호출산제 관련 기자회견(11월 25일), 보편적 출생신고 도입촉구 기자회견(12월 일일)</li>
                        </ul>
                    </li>
                    <li>기간 : 2015년 ~ 현재</li>
                    <li>함께하는 단체 : 공익인권법재단 공감, 국가인권위원회, 국제아동인권센터,  공익법센터 어필,  세이브더칠드런, 유니세프, 유엔난민기구, 이주민지원공익센터 감동, 민주사회를 위한 변호사모임 아동위원회, 사단법인 두루, 안산글로벌청소년센터, 이주민센터 친구, 재단법인 동천, 뿌리의집, 초록우산 어린이재단, 플랜코리아</li>
                </ul>
            </p>

            <p>□ 아동인권 포럼</p>
            <p>
                <ul>
                    <li>소개 : 2014년 미국으로 입양된 현수군의 사망 사건을 계기로 시작된 연대단체. 해외입양인 단체들이 중심이 된 입양특례법 개정운동, 입양아 사망사건을 계기로 한 입양절차 개선운동, 보호대상아동과 관련된 대안적 양육 연구조사 등을 기초로 바람직한 ‘대안적 양육’의 실현을 위한 연구조사, 옹호활동 전개</li>
                    <li>주요활동</li>
                    <li>
                        2014년에는 현수사건 관련 보건복지부 장관에게 진상조사를 촉구하는 질의서를 제출, 현수의 입양을 담당한 홀트를 비롯 해외입양을 하는 4개 입양기관이 사후관리 부실 특별감사를 받음
                    </li>
                    <li>
                        2014년에는 현수사건 관련 보건복지부 장관에게 진상조사를 촉구하는 질의서를 제출, 현수의 입양을 담당한 홀트를 비롯 해외입양을 하는 4개 입양기관이 사후관리 부실 특별감사를 받음
                    </li>
                    <li>
                        2015년에는
                    </li>
                    <li>
                        2016년에는 입법 활동 뿐만 아니라 사례대응에도 힘을 보태기로 하고 3월에는 경기도 의회에서 베이비박스 지원조례에 대한 성명서 제출(3월 15일), 연초부터 파주(국내입양)와 논산(아동매매) 사건에 대한 사례대응팀을 포럼 내에 구성하여 6월에 인권위에 파주사건에 대한 진정서 제출(6월 21일). 한국을 방문한 노르웨이 정부 입양업무 관계자와 미팅(3월 11일) 덴마크 정부 국제입양업무 관계자와 미팅(11월 29일), 3~4월에 걸쳐 조사한 국내 아동복지심의위원회 실태조사 보고서를 작성, 인권위 및 전국 지자체에 회람(9월 12일).
                    </li>
                    <li>
                        2018년에는
                    </li>
                    <li>
                        2019년에는
                    </li>
                    <li>
                        2020년에는
                    </li>
                    <li>
                        기간 : 2014년 ~ 현재
                    </li>
                    <li>
                        함께하는 사람들 : 세이브더칠드런, 공익인권법재단 공감, 유니세프, 국제아동인권센터, 사단법인 두루, 민변 아동인권위원회, 진실과 화해를 위한 해외입양인 모임, 한국여성변호사회, 숭실대 노혜련 교수, 서울여대 김진석 교수, 뿌리의집
                    </li>
                </ul>
            </p>
            <p>□ 입양의 공공성 강화를 위한 입양특례법 개정 연대회의</p>
            <p>
            <ul>
                <li>소개 : 2020년 양천아동학대사망사건을 계기로 다시 입양특례법 개정의 움직임이 국회에서 시작되어 60여년간 민간입양기관에 의해 이루어진 입양의 공공성 강화를 위한 입양특례법 개정안을 위해 입양 당사자(친생모, 미혼양육모, 국내입양인, 해외입양인, 국내입양부모) 및 연대단체가 모여 시작됨.</li>
                <li>주요활동</li>
                <li>
                    기간 : 2021년 1월 ~ 현재
                </li>
                <li>
                    함께하는단체 : 국내입양인연대, 더 나은 입양을 실천하는 입양부모 네트워크, 뿌리의집, 한국미혼모가족협회, 한국미혼모지원네트워크, 변화된 미래를 만드는 미혼모협회 인트리, 덕성여대 정선욱 교수, 숭실대 노혜련 교수, 서울대 소라미 교수, 사단법인 두루, 민변 아동위, 진실의자리(TheRUTHtable), 해외입양인들
                </li>
            </ul>
            </p>
            <p>□ 연대단체 자문 활동</p>
            <ul>
                <li>주요활동 : 한국미혼모가족협회와 한국미혼모지원네트워크의 자문위원(김도현 대표), 한국미혼모지원네트워크 포럼준비위원회 운영위원(김창선 팀장)</li>
            </ul>

            <p style="margin-left: 70px;">
                2.	활동이 종료된 연대활동
            </p>

            <p>□ 대구·포천 입양아동 학대사망사건 진상조사 및 제도개선 위원회 활동</p>
            <ul>
                <li>소개 : </li>
                <li>주요활동 : 2016년 7월 대구의 한 입양아동 은비의 뇌사사건을 계기로 활동. 2016년 10월 21일 &gt;대구·포천 입양아동 학대사망사건 진상조사 및 제도개선 위원회>를 조직. 대구법정모니터링, 포천아동법정(인천)모니터링, 관련단체와의 간담회(대구가톨릭대학병원, 경북대학병원, 대구시청과 파출소, 성가정입양원). 은비양과 포천아동의 친모들 상담과 위로, 은비양 해양장 지원</li>
                <li>기간 : 2016년 10월 ~ 2018년 3월</li>
                <li>함께하는 단체 : 공익인권법 재단 공감과 아동청소년 인권단체 탁틴내일, 세이브더칠드런, YMCA, 사단법인 두루(비영리법률가단체), 여성변호사회, 숭실대 노혜련교수, 서울여대 김진석교수, 한국미혼모지원네트워크, 한국미혼모가족협회, 미혼모단체 인트리, 국회의 남인순, 김삼화, 이재정 의원실, 뿌리의집</li>
            </ul>

            <p>□ 가족관계등록법 개정 캠페인</p>
            <ul>
                <li>소개 : 한국미혼모지원네트워크와 공익법인 공감 그리고 여성민우회와 여성의 전화가 작업을 해서 남윤인순의원실을 통해서 발의한 [가족관계등록등에 관한 법률 일부법률 개정안]을 어떻게 실현할 수 있을 것인가? 어떻게 하면 법사위에 상정되게 할 것인가? 지난 2013년 10월 23일 국가인권위원회의 이름으로 권고한 [가족관계등록 제도 개선권고 및 의견표명]문에 대한 우리의 입장을 어떻게 수립할 것인가? 국회 법사위 소속 의원이 이 법안을 발의하도록 할 수는 없는가? 남윤인순의원의 법안과 병합심리가 이루어지도록 촉구하는 방안은 없는가?</li>
                <li>주요활동 : 2012년 8월 입양특례법 시행 후, 미혼모의 출산사실 가족관계등록부 등재의 두려움증가.  2014년부터 가족관계등록부 상에 있어서 불필요하고 인권차별을 야기할 수 있는 정보에 대한 현출을 제한하도록 하는 방식으로 가족관계등록부를 일반증명서와 상세증명서의 형식으로 발급하게 하는 법안. 정부로 하여금 현출제한에 관한 법안만을 제출하도록 촉구했고 정부는 받아들임. 이 법안은 2016년 4월 국회에서 통과되었고, 11월 30일부터 시행됨.</li>
                <li>기간 : 2013년 12월 ~ </li>
                <li>함께하는 단체 : 진실과 화해를 위한 해외입양인 모임(TRACK), 한국미혼모지원네트워크, 한국미혼모가족협회, 미혼모단체 인트리, 뿌리의집, 공익인권법재단 공감</li>
            </ul>

        </div>
    </section>

</div>

</html>
