<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<div layout:fragment="content">

    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">
            <h2>사업방향</h2>
            <p>
                Home away from Home
                2003년 7월 7일 ‘뿌리의집’이 문을 연 이후 지난 15년간 매년 300여명(총4천여명)의 해외입양인들에게 ‘모국에서의 안식처(Home away from Home)’가 되고 있습니다. 해외입양인들은 뿌리의집에 머물면서 가족을 찾아 재회를 하기도 하고, 한국문화를 알아가기도 하고, 법적인 도움을 받기도 하였습니다. 뿌리의집은 그들의 옆에서 묵묵히 함께하고 있습니다.
                뿌리의집은 김길자 이사장(전 경인여대 총장) 가족이 2003년부터 무상임대한 청운동의 아름다운 집을 터전으로 삼고있습니다.
            </p>
            <p>
                Separation and loss
                1953년부터 지금까지 20만명이 넘는 아동이 해외로 입양되어졌습니다. 지금도 여전히 한해 300명이 넘는 아이들이 해외로 입양보내지고 있습니다. OECD 국가중 유일하게 해외입양을 보내는 나라가 대한민국입니다.
                입양은 입양인과 친생가족에게는 일생동안 ‘이별과 상실’의 아픔을 안고 살아가는 경험이기도 합니다. 뿌리의집은 선진국의 반열에 들어선 우리나라가 왜 이렇게 해외입양을 보내야만 하는 지에 대해서 의문을 던지며 성찰을 거듭했습니다.
                우리사회는 해외로 입양보낸 이후 그들에게 아무도 관심을 기울이고 있지 않습니다. 해외입양인 중 입양국의 국적을 취득하지 못하여 한국으로 추방되어오는 입양인도 있고, 다시 한국국적을 찾기 위하여 국적회복을 신청하는 입양인도 있습니다. 우리는 입양을 보내기만 했지, 그들의 입양 이후의 삶에 대해 관심을 기울이지 못하고 있습니다.
            </p>
            <p>
                Change of Adoption Systems
                뿌리의집은 해외입양을 통해 발견되는 ‘아동인권’을 위한 다양한 노력과 결실을 거두고 있습니다.
                국가가 나서서 아동양육체계의 틀을 근원적으로 혁신하는 일을 통해, 분리의 아픔에 내어 몰리는 아동이 최소화되도록 해야 한다는 담론을 우리사회에 제시했습니다. 특히 미혼모가정의 아동이 원가정으로부터 분리되지 않을 권리를 국가가 나서서 보장해주도록 촉구했습니다. 이런 과정에서 해외입양인당사자, 미혼모단체, 공익법단체 등과 연대하여 2011년에는 입양특례법을 전면 개정하는 쾌거를 이루기도 했습니다.
            </p>

            <p>뿌리의집 핵심활동</p>

            <table class="table table-bordered">
                <tbody>
                <tr>
                    <th class="w-25">&gt;해외입양인 게스트하우스</th>
                    <td class="w-auto">
                        ⦁해외입양인을 위한 전문 게스트하우스 운영
                        -서울 종로구 청운동 소재 주택을 2003년부터 무상임대받아 해외입양인 게스트하우스 운영. 지난 18년간 4,000여명의 입양인과 입양인가족이 3만 5천박 이상 숙박함.
                        -동시에 14명이 숙박가능한 침대(총 4개의 방), 거실, 남녀화장실 및 욕실, 다이닝공간, 세미나실, 정원 등 시설
                    </td>
                </tr>
                <tr>
                    <th>모국생활지원사업</th>
                    <td>
                        ⦁귀환한 해외입양인들이 한국사회에 안정적으로 정착하기 위한 실질적인 지원과 가족찾기 및 재회지원
                        -해외입양인에게 실질적인 정보제공(비자, 전화개설, 은행 등) 및 서비스제공(통번역 외)
                        -해외입양인 가족찾기 및 재회지원(친생가족 DNA검사 지원)
                        ⦁해외입양인과 함께하는 문화활동(설, 추석 명절행사)
                    </td>
                </tr>
                <tr>
                    <th>권익옹호사업</th>
                    <td>
                        ⦁해외입양인 권익옹호를 위한 인식개선 및 제도개선활동
                        입양인커뮤니티와 단체, 미혼모 당사자 단체, 친생가족모임, 공익법단체, 아동인권전문가그룹 등과 연대합니다.

                        &gt;인식개선활동
                        -싱글맘의날 선포 및 공동개최(2011년~2019년)
                        -입양진실의날 선포(2020년 5월 11일) 및 제1회 입양진실의날 국제컨퍼런스 공동개최(9월 9일)

                        &gt;제도개선을 위한 연대활동
                        -대구포천 입양아동 학대사망사건 진상조사 및 제도 개선 위원회 활동
                        -가족관계등록법 관련 입법활동
                        -입양특례법 개정모임
                        -아동인권포럼
                        -보편적 출생등록에 관한 워킹그룹(UBR)
                    </td>
                </tr>
                <tr>
                    <th>연구사업</th>
                    <td>
                        ⦁해외입양인 연구사업
                        한국의 해외입양 및 전 세계적 차원의 입양문제를 조명하고 대안을 제시합니다.
                        -기획연구 &lt;해외입양인과 친생가족의 재회(Reunion)에 관한 선행연구&gt;책임연구자 김호수 교수(2020~2021 현재)
                        -해외입양인권아카이브
                        -입양인과의 대화시리즈(2020년)
                        (Dialogues with Adoptees : Law, Policy & Intercountry adoption of Korea)
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>

</div>

</html>