<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<div layout:fragment="content">

    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">
            <h2>게스트하우스(쉼터)</h2>
            <p>
                1953년부터 현재까지 전세계 15개국 이상에 20만명이 해외로 입양보내졌고, 그들이 성인이 되어서 한국을 찾고 있습니다. 뿌리의집 게스트하우스는 해외입양인과 그 가족이 머물 수 있는 공간입니다. 가족찾기를 위해, 한국어를 배우기위해, 여행이나 비지니스를 위해 방문하고 있습니다. 뿌리의집은 총 14명이 동시에 숙박가능한 4개의 게스트룸이 있습니다.
                숙박현황(2003년~2020년)
            </p>

            <p>
                -&gt;통계표 삽입
            </p>


            <table class="table table-bordered">
                <tbody>
                <tr>
                    <td class="w-auto">
                        <p>
                            뿌리의집 게스트하우스에 머물렀던 입양인들이 이야기하는  뿌리의집
                        </p>
                        <p>
                            Place for adoptees. It is my home in Korea.
                            입양인을 위한 공간. 그곳은 한국에 있는 나의 집입니다.
                        </p>
                        <p>
                            It was a great experiencing meeting other adoptees and hearing their story. Everything was great, everyone was welcoming, and it didn't feel like a place where I was "just staying" but a place where I felt at home.
                            다른 입양인을 만나고 그들의 이야기를 듣는 것은 큰 경험이었습니다. 모든 것이 훌륭했습니다. 모두가 환영을 받았고, "그냥 머무르는"장소처럼 느껴지지 않았고 우리 집 처럼 느꼈던 곳이었습니다.
                        </p>
                        <p>
                            meeting so many great adoptees from around the world!!
                            전 세계의 많은 입양인들과의 만남 !!
                        </p>
                        <p>
                            Especially as a first-time traveler to Korea who wasn't familiar with the country/language, it was comforting to know that I was at a safe place with people who understood where I was coming from (literally). And all of that was made very clear by the warm welcome.
                            특히 처음 한국을 처음 방문하는 여행자로서 나라/언어에 익숙하지 않은 내가 어디에서 왔는지 말 그대로 이해하는 사람들과 안전한 장소에 있다는 사실에 편안했습니다. 그리고 그 모든 것은 아주 분명하게 환대로 이루어졌습니다.
                        </p>
                        <p>
                            Koroot is a foundation for adoptees bridging a successful relationship to Korea. The staff is understanding, encouraging, and supportive in helping adoptees connect to other adoptees, adoptee services, and explore our relationship to Korea. All the staff go above and beyond to help adoptees with whatever they need. My own ability to visit Korea and feel good about traveling to Korea frequently is the result of KoRoot's support.
                            뿌리의집은 입양인들이 한국과 성공적인 관계를 맺기위한 토대입니다. 뿌리의집 직원들은 입양인들이 다른 입양인과 연결되어 입양인 서비스를 제공하고 한국과의 관계를 탐색할 수 있도록 돕고 이해하고 격려하며 지지합니다. 뿌리의집 모든 직원들은 입양인들이 필요로 하는 것은 무엇이든 돕기 위해 그 이상으로 나아갑니다. 뿌리의집의 도움으로 저는 한국을 방문하고 자주 한국을 여행할 수 있었습니다.
                        </p>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </section>

</div>

</html>