<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<div layout:fragment="content">

    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">
            <h2>모국생활지원</h2>
            <h5>해외입양인과 함께하는 명절행사-설, 추석</h5>
            <p>
                뿌리의집은 2003년부터 매년 설과 추석명절을 맞아 해외입양인과 명절을 함께 보냅니다. 함께 모여 밥과 삶을 나눌 수 있는 따뜻한 공간이 있어 매일 감사한 마음입니다. 매년 설과 추석명절 당일에는 뿌리를찾아 고국으로 돌아온 해외입양인들이 뿌리의집에서 명절음식을 나누고 편안하게 대화하는 장을 마련하고 있습니다. 장, 단기로 모국을 방문하는 해외입양인들이 한국의 명절문화를 즐기고, 입양인 커뮤니티와 소통하고 정보를 나누는 특별한 행사입니다.
                이 행사에는 후원자 분들의 특별후원금과<span style="color:#FCC25D">(추석행사 NCRC지원 표기 안해도?/올해부터 지원 없다면 안해도 될테고요)</span>음식 지원으로 풍성한 음식과 과일, 음료 등을 나누고 있습니다.
            </p>

            <table class="table table-bordered">
                <tbody>
                <tr>
                    <td class="w-auto">
                        <p>
                            “이번 추석 행사로 KoRoot에 처음 방문했다. 명절 연휴를 혼자 보냈다면 아마 할 일이 없었을 텐데, 나에게 딱이었다.”
                            The Chuseok event was my first time at KoRoot. It was perfect for me since I was worried there may have been nothing for me to do during the holiday if I spent the time alone.
                        </p>
                        <p>
                            “계속 초대해주십시오. 뿌리의집 행사에 참석하는 것이 매우 좋습니다. 더 많은 문화행사, 예술, 영화제작, 음악, 문학, 시, 북클럽, 등 어떤 것도 좋습니다.”
                            Keep up the invitations. I love attending KoRoot's events! More cultural events, too, anything covering any of the arts, filmmaking, visual art, craft-making, music, literature, poetry, book clubs, creative writing groups.
                        </p>
                        <p>
                            “정말 감사합니다. 멋진 추석 행사를 위해 많은 준비와 노력이 들어갔을 줄 압니다.”
                            Thank you so much. I know a lot of work went into making a wonderful Chuseok event.
                            <p style="text-align: right;">
                                <strong>-2019년 추석명절 행사 참가자의 글 중에서</strong>
                            </p>
                        </p>
                    </td>
                </tr>
                </tbody>
            </table>

            <h5>해외입양인 실질적 지원-생활정보, 법률, 가족찾기, 통번역</h5>
            <p style="margin-left: 50px;">
                해외입양인의 모국생활을 돕는 실질적 지원 및 소통<br/>
                ⦁ 한국체류 입양인 - 국적회복(이중국적)절차 안내, 실직으로 인한 기초생활수급신청 절차안내, 아동권리보장원 입양인사후서비스 및 위기지원 안내, 코로나 위지기원금 신청, 원가족과의 소통지원, 세금납부 및 건강검진 등 행정절차 소통지원, 타 단체 입양인사업 공유 등 안정적인 정착을 돕는 활동<br/>
                ⦁ 신규입국 입양인 - 비자(거주지 증명, 타기관 연계), 한국어 공부, 장학금 신청, 환전, 부동산, 핸드폰 등 초기정착지원 및 타기관의 입양사후서비스 안내<br/>
                ⦁ 해외체류 입양인 - 가족찾기 관련 문의<br/>
            </p>

            <h5>유전자검사 연계(325KAMRA 한국파트너)</h5>
            <p style="margin-left: 50px;">
                325KAMRA(한인혼혈입양인연합)의 한국파트너인 뿌리의집이 입양인과 친생가족의 유전자검사 의향이 있는 경우 절차 안내 및 소통<br/>
            </p>

            <table class="table table-bordered">
                <tbody>
                <tr>
                    <td class="w-auto">
                        <p>
                            325KAMRA(https://www.325kamra.org)는 구강상피세포를 사용하는 간단한 유전자 검사를 제공한다. 이 정보는 FTDNA의 데이터베이스에 입력되어 유전자를 공유하고 있는 사람이 있는지 알 수 있고, 그 결과를 기반으로 친생가족을 찾는 과정을 시작할 수 있다. 입양인이라면 유전자 키트를 제공받을 수 있으며, 해외에 있는 분은 페이스북 그룹 @325KAMRA로 연락할 수 있다. 친생가족이라면 무료로 유전자 검사를 받을 수 있다. 친생가족분들께서는 개인정보가 외부에 밝혀지지않도록 익명으로 유전자 검사를 진행할 수 있다.<br/>
                            [325KAMRA 주요활동]<br/>
                            -한국, 미국, 유럽, 호주에 있는 해외입양인에게 유전자키트 제공<br/>
                            -한국의 친생가족에게 유전자 검사 제공<br/>
                            -친생가족을 찾고 있는 입양인과 입양인을 찾고 있는 친생가족 지원<br/>
                            -재회한 입양인과 가족 지원<br/>
                        </p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>

</div>

</html>