<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<div layout:fragment="content">

    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">
            <h2>연구사업</h2>
            <p style="margin-left: 50px;">
                >>기획연구
            </p>
            <p>□ 해외입양인과 친생가족의 재회(Reunion)에 관한 선행연구</p>
            <p>
                책임연구자 : 김호수 교수(뉴욕시립대 인류학과, 사회학과)<br/>
                뉴욕 시립 대학교(City University of New York) 사회학과에서 박사학위와 Women's Studies Certificate를 받았으며, 2009년부터 동 대학교 스테이튼 아일랜드 대학 사회학과와 인류학과 교수로 재직하고 있다. 또한 2017년 한국 교류재단 필드 리서치 펠로우 (Korea Foundation Research Fellow) 로 활동하고 있다. 주요 연구 관심은 Transnational Adoption, Politics of Reproduction, Affect, Performance and Performativity, Information Technologies이며 최근 연구로는
                Birthmothers and Transnational Adoption Practice in South Korea: Virtual Mothering (2016), “The Biopolitics of Transnational Adoption in South Korea: Preemption and the Governance of Single Birthmothers” (2014), “Television Mothers: Lost & Found in Search and Reunion Narratives” (2012), “The Kinship of Violence” (2012) 등이 있다.
            </p>

            <span>연구목적</span>
            <ul>
                <li>해외입양인/친생가족의 재회에 대한 관계기관의 인식개선</li>
                <li>해외입양인/친생가족의 재회의 의미 사회적 재조명</li>
                <li>해외입양인/친생가족의 재회를 위한 사회적 지원체계 및 제도개선점 도출</li>
            </ul>

            <span>연구대상</span>
            <ul>
                <li>해외입양인, 친생가족</li>
            </ul>

            <span>연구방법</span>
            <ul>
                <li>문헌조사, 친생가족인터뷰, 해외입양인설문조사</li>
            </ul>

            <span>연구기간</span>
            <ul>
                <li>2019년 ~ 2021년</li>
            </ul>

            <span>기대효과</span>
            <ul>
                <li>본 연구를 통해 해외입양인-친생가족의 (1)‘재회’의 의미와 당사자에게 미치는 영향력을 확인하고 (2)실질적인 재회의 노력, 과정을 통해 본 재회 현황, 절차, 개선점 파악하므로서 (3)재회의 전과정에 있어서 필요한 사회의 책임과 국가의 정책수립 및 민간단체의 역할에 대해 재조명 및 제언</li>
            </ul>

            <span>연구기금</span>
            <ul>
                <li>김예진목사기념사업회</li>
            </ul>

            <span>협력기관</span>
            <ul>
                <li>듣는연구소(findinglab.kr)</li>
                <li>해외입양인당사자의 목소리를 잘 반영하여 솔루션을 찾는 양적연구보고서 분석 지원</li>
            </ul>

            <p style="margin-left: 50px;">
                >>해외입양아카이브
            </p>

            <p>□ 해외입양아카이브</p>
            <span>사업목적</span>
            <ul>
                <li>1953년 이후 지난 68년간 20만 명이 넘는 아동이 해외로 입양 보내졌다. 이 과정에서 고아호적 만들기를 통해 입양인의 기록이 멸실, 위조, 조작, 대체, 혼합되었고 그들의 인권이 훼손되었다. 본 사업은 해외입양인당사자들의 알 권리, 과거 해외입양절차에서 밝혀져야 할 과거사 진실규명 및 해외입양의 담론을 확장하기 위하여 ‘해외입양인권 아카이브’를 구축하여, 전 세계 해외입양인 당사자 및 전문가, 이해관계자, 대중들을 위한 자료축적과 공유를 하는데 그 목적이 있다.</li>
            </ul>

            <span>사업내용</span>
            <ul>
                <li>
                    <span>1단계-해외입양아카이브 기본계획수립</span>
                </li>
                <li>
                    <span>
                        2단계-아카이브 컨텐츠 개발 및 DB구축<br/>
                        ‘인권’의 시선으로 본 해외입양역사 큐레이션<br/>
                        입양인 당사자 증언 기록 수집(법적 사항 검토)<br/>
                        입양기록 데이터베이스 수집(통계, 법조항, 언론기사, 인터뷰, 영상, 논문 등)<br/>
                    </span>
                </li>
                <li>
                    <span>
                    3단계-디지털 해외입양아카이브 구축(개발 및 디자인) 및 사이트오픈
                    </span>
                </li>
            </ul>

            <span>협력기관</span>
            <ul>
                <li><span>아카이브랩 (<a href="https://archivelab.co.kr" target="_blank">archivelab.co.kr</a>)</span></li>
                <li>
                    <span>
                        아카이브 DB구축, 디지털아카이브 구축 자문 및 교육
                    </span>
                </li>
                <li>
                    <span>
                    전환기정의를위한워킹그룹 (<a href="https://www.tjwg.org" target="_blank">www.tjwg.org</a>)
                    인권훼손대한 증거수집(조사, 기록) 자문 및 교육
                    </span>
                </li>
            </ul>

            <span>국제협력</span>
            <p style="margin-left: 50px;">
                <span> >>Family for Every Child 회원활동</span>
            </p>
            <p>
                <span>영국 Family for Every Child의 회원이 된 뿌리의집</span>
            </p>
            <p>
                <span>영국 Family for Every Child는 전세계적으로 취약한 환경에서 살고 있는 어린이의 삶을 개선하기 위한 글로벌네트워크연합이다.  전세계 38개 국가에서 모인 43개의 단체로 구성된 Family for Every Child는 모든 아이가 영구적이고 안전한 가정의 보살핌 속에서 사는 세상을 추구하자는 공통적인 비전을 가지고 있다.</span>
            </p>
            <p>
                <span>2018년 11월 23일 뿌리의집에는 영국에서 설립되어 운영중인 Family for Every Child의 CEO 아만다 그리피스(Amanda Griffith)가 방문하였다. 2003년부터 해외입양인의 권익옹호를 위해 노력해온 뿌리의집의 가치를 인정하고, 함께 INGO로서 뿌리의집을 글로벌 연합의 멤버로 초대하기 위한 절차로, 직접 회원이 될 후보단체를 인터뷰하기 위한 중요한 미팅이었다. 이후 Family for Every Child의 이사회를 거쳐 한달 후인 2018년 12월 17일,  뿌리의집은 Family for Every Child의 준회원이 되었다.</span>
            </p>
            <p>
                <span>앞으로 전세계에서 취약한 환경에 노출된 아동의 삶을 위해 뿌리의집은 Family for Every Child의 38개국 43개 단체 멤버들과 다양한 활동을 함께할 예정이다. </span>
            </p>
            <p>
                <span>Family for Every Child에 소개된 뿌리의집 </span><br/>
                <span> >> <a href="https://www.familyforeverychild.org/koroot" target="_blank">https://www.familyforeverychild.org/koroot</a></span>
            </p>
            <p>
                <span>Family for Every Child의 글로벌네트워크연합(38개국 43개 단체 멤버) </span><br/>
                <span> >> <a href="https://www.familyforeverychild.org/Pages/Category/alliance-members" target="_blank">https://www.familyforeverychild.org/Pages/Category/alliance-members</a></span>
            </p>

            <table class="table table-bordered">
                <tbody>
                <tr>
                    <td class="w-auto">
                        <p>
                            Family for Every Child 소개 (>>www.familyforeverychild.org)
                        </p>
                        <p>
                            Family for Every Child는 전세계적으로 취약한 환경에서 살고 있는 어린이의 삶을 개선하기 위해 노력하는 시민사회단체로 형성된 글로벌네트워크연합이다.
                        </p>
                        <p>
                            어린이를 위한 협력<br/>
                            전세계에 수백만 명의 어린이가 보살펴 주는 가족의 보호를 받지 못한 채 살아가고 있다. 이 아이들은 주로 가족에게 착취, 밀매, 노동, 조기결혼 등의 육체적, 성적, 정신적 학대를 당하고 있다. 이러한 지역 문제는 국제적 위기를 초래한다. Family for Every Child는 지역 및 국가 차원의 실행사례와 연구를 접목하여 문제를 해결할 수 있는 새로운 접근방안을 개척하고 있다. 다음으로는 이러한 아이디어를 도입하고 서로 공유하여 가족과 함께 살지 못하는 어린이를 위기에서 벗어나게 하기 위한 다양한 해결책을 찾아가고 있다. Family for Every Child는 우리 공동체 안에서 아이와 가족이 겪고 있는 어려움에 대해 유일무이한 지식을 보유한 세계적인 단체로 구성된 연합이다. 우리는 모든 아이들이 영구적인 가정에서 안전하게 보살핌을 받을 수 있는 세상을 꿈꾸고 있다. 지식과 재능과 자원을 동원하여 범국가적 시민사회단체의 글로벌 네트워크를 통해 이 비전을 달성하기 위해 노력하고 있다. 또한 일시적으로 양질의 대안적 보육이 필요한 곳을 지원하고 있다.
                        </p>
                        <p>
                            Family for Every Child의 강한 신념:<br/>
                            1. 자라온 배경이나 환경과 무관하게 아이는 안전하고 영구적인 가족 슬하에서 가장 잘 성장할 수 있습니다.<br/>
                            2. 책임감 있고 아이를 보호해줄 수 있는 성인이 최소한 한 명이 있는 가정에서 자라야 합니다. 부모와 함께 사는 것이 선호되지만 조건이 되지 않는다면 그 외의 가족과 함께 있는 것이 좋습니다.<br/>
                            3. 가정을 유지하는 것이 최우선이며, 더 많은 도움이 필요한 가정이 있다면 필히 지원해야 합니다.<br/>
                            4. 부모의 보살핌을 받지 못하는 아이를 위해 다양한 양질의 대안적 보육방법이 제공되어야 합니다.<br/>
                            5. 보육 방식은 아이의 최선의 이익을 우선시 하며 아이의 상황에 적합하고 가족이 참여할 수 있는 환경에서 결정되어야 합니다.<br/>
                            6. 대안적 보육을 받는 아이는 가족이 있는 공동체에서 최대한 가까운 곳에서 생활해야 합니다.<br/>
                        </p>
                        <p>
                            We are Family<br/>
                            전세계 38개 국가에서 모인 43개의 단체로 구성된 Family for Every Child는 모든 아이가 영구적이고 안전한 가정의 보살핌 속에서 사는 세상을 추구하자는 공통적인 비전으로 협력하였습니다. 선구자적인 사상가, 혁신적인 전문가, 사회적 기업가로서 어린이 보육과 보호에 대한 검증된 경험으로 단체를 이끌어 가고 있다. 우리와 함께 하는 아이와 가정의 목소리와 요구사항에 귀 기울이고 있습니다.<br/>
                        </p>

                        <p>
                            | Translation by 채선도
                        </p>

                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>

</div>

</html>